<!DOCTYPE HTML PUBLIC "-//W3C//DTD HTML 4.01 Transitional//ES" "http://www.w3.org/TR/html4/loose.dtd">
<html>
<head>
  <meta http-equiv="Content-Type" content="text/html; charset=utf-8">
  <title>Voces de Sanidad - Email Suscripción</title>
</head>
<body>
<div style="max-width: 600px; width: 100%;padding: 20px; font-family: Arial, Helvetica, sans-serif; font-size: 11px;margin:0 auto;">
  
  <div style="text-align: center;width: 50%;margin: 10px auto;">
    <a href="$urlVoces" target="_blank">
    	<img src="$urlLogoVoces" alt="Voces de Sanidad" style="width: 100%;">
    </a>
  </div>
  <h1 style="text-align: center;color: #33363a;">
  	Bienvenido a Voces de Sanidad.
  </h1>
  <div style="margin: 50px auto">
  	  <p style="color: #33363a;font-size: 120%;text-align: justify;">
	  	Muchas gracias por suscribirse a nuestra publicación. Todas las voces de nuestro Gremio* se unen en este espacio. Dirigentes, delegad@s, compañer@s, artistas y especialistas narran historias, comparten reflexiones y proponen caminos para enfrentar nuevas realidades con innovación, solidaridad y, sobre todo, unidad.
	  </p>
	  <p style="color: #33363a;font-size: 120%;text-align: justify;">
	  	Para completar su suscripción es necesario que complete sus datos personales* haciendo clic en el botón de abajo. De lo contrario, puede ignorar este email.
	  </p>
  </div>

  <div style="text-align: center;width: 50%;margin: 80px auto;text-align: justify;">
    <a href="$URL" target="_blank" style="background-color: #33363a; border-color: #33363a; padding: 1.3rem 2.5rem; font-size: 1.3rem;color: #fff;text-decoration: none;">
    	Completar datos
    </a>
  </div>

  <div style="text-align: center;width: 50%;margin: 30px auto;">
    <p style="font-size: 90%;color: #33363a;text-align: justify;">
    	Si el botón no funciona puede copiar y pegar esta url:
    </p>
    <p style="font-size: 90%;text-decoration: underline;color: #33363a;text-align: justify;">
    	$URL
    </p>
  </div>
  <hr>
  <div>
  	<p style="font-size: 90%;color: #33363a;text-align: justify;">
  		* Sus datos personales se utilizan <strong style="font-weight: bold;">únicamente</strong> de forma estadística y no son compartidos absolutamente con nadie.
  	</p>
  	<p style="font-size: 90%;color: #33363a;text-align: justify;">
  		*<strong style="font-weight: bold;">ATSA Buenos Aires</strong>: La Asociación de Trabajadores de la Sanidad Argentina fue fundada el 21 de septiembre de 1935 con el objeto de ejercer la defensa gremial, política, mutual y cultural de todos los trabajadores que presten servicios en Sanatorios, Clínicas, Hospitales de Colectividades, Institutos geriátricos, consultorios médicos y odontológicos, laboratorios de especialidades medicinales y/o veterinarias, droguerías, servicios de emergencias médicas, laboratorios de análisis clínicos, atención institutos con y sin internación y cuidados domiciliarios. La zona de actuación de ATSA Filial Buenos Aires es Capital Federal, con domicilio legal en la calle Saavedra 166, Barrio de Balvanera.
  	</p>
  </div>
</div>
</body>
</html>