/*--------------------------------------------------------------
>>> TABLE OF CONTENTS:
----------------------------------------------------------------
1.0 Reset
2.0 Fuentes
3.0 VARIABLES
4.0 GENERAL
--------------------------------------------------------------*/

/*--------------------------------------------------------------
1.0 Reset
--------------------------------------------------------------*/

@import 'sass/reset';

/*--------------------------------------------------------------
2.0 Fuentes
--------------------------------------------------------------*/

@import 'sass/fonts';

/*--------------------------------------------------------------
3.0 variables
--------------------------------------------------------------*/

@import 'sass/variables';

/*--------------------------------------------------------------
4.0 General
--------------------------------------------------------------*/

html, body {
    font-family: $fuente-principal;
    color: $color-negro;
    background-color: $color-fondo;
    font-size: 5vw;
    line-height: 4vh;
    height: 100%;
    @media (min-width: $xs) {
        font-size: 4vw;
        line-height: 3.5vh;
    }
    @media (min-width: $sm) {
        font-size: 3.5vw;
        line-height: 3.5vh;
    }
    @media (min-width: $md) {
        font-size: 16px;
        line-height: 20px;
    }
}

.text-uppercase {
    text-transform: uppercase;
}

.no-margin-top {
    margin-top: 0!important;
}


.wrapper {
    position: relative;
    z-index: 1;
    clear: both;
    height: 100%;
    @media (min-width: $md) { 
        display: flex;
        display: -o-flex;
        display: -ms-flex;
        display: -moz-flex;
        display: -webkit-flex;
        -webkit-justify-content: center;
        -moz-justify-content: center;
        -ms-justify-content: center;
        -o-justify-content: center;
        justify-content: center;
        -webkit-align-items: center;
        -moz-align-items: center;
        -ms-align-items: center;
        -o-align-items: center;
        align-items: center;
    }
}

.wrapper-background {
    position: fixed;
    width: 100%;
    height: 100%;
    z-index: 0;
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
    display: none;
}

.inner-wrapper {
    position: relative;
    z-index: 1;
    height: 100%;
    width: 100%;
    display: flex;
    display: -o-flex;
    display: -ms-flex;
    display: -moz-flex;
    display: -webkit-flex;
    -webkit-justify-content: space-between;
    -moz-justify-content: space-between;
    -ms-justify-content: space-between;
    -o-justify-content: space-between;
    justify-content: space-between;
    -webkit-flex-wrap: wrap;
    -moz-flex-wrap: wrap;
    -ms-flex-wrap: wrap;
    -o-flex-wrap: wrap;
    flex-wrap: wrap;
    @media (min-width: $md) {
        width: 100%;
        max-width: 992px;
        margin: 0 auto;
        height:auto;
        //max-height: 600px;
        -webkit-align-self: flex-start;
        -moz-align-self: flex-start;
        -ms-align-self: flex-start;
        -o-align-self: flex-start;
        align-self: flex-start;
    }
    
    @media (min-width: $xlg) {
        max-width: 1190px;
        //max-height: 868px;
    }

}

.section-wrapper {
    position: relative;
    -webkit-flex-grow: 1;
    -moz-flex-grow: 1;
    -ms-flex-grow: 1;
    -o-flex-grow: 1;
    flex-grow: 1;
    width: 100%;
    @media (min-width: $md) {
        width: 50%;
    }
}



.container {
    padding: 20px;
    @media (min-width: $xs) {
        padding: 25px;
    }
    @media (min-width: $md) {
        padding: 20px;
    }
    
    @media (min-width: $xlg) {
        padding: 50px;
    }
}

.section-wrapper {
    color: $color-blanco;
}

.header-wrapper {
    hgroup {
        position: relative;
        text-align: center;
        margin: 10px auto 30px;
        padding-bottom: 10px;
        padding-top: 80px;
        @media (min-width: $md) {
            margin: 10px auto 20px;
        }
        @media (min-width: $xlg) {
            margin: 10px auto 30px;
        }

        &:before {
            content: '';
            position: absolute;
            top: 0;
            left: 50%;
            transform: translateX(-50%);
            display: block;
            width: 70px;
            height: 70px;
            background: url(../images/sprite.png) no-repeat;
        }

        &:after {
            content: '';
            position: absolute;
            bottom: 0;
            left: 15%;
            width: 70%;
            display: block;
            height: 2px;
            background: $color-blanco;
            @media (min-width: $md) {
                left: 35%;
                width: 30%;
            }
        }

        h1 {
            font-size: 200%;
            line-height: 110%;
            margin-bottom: 10px;
            text-shadow: 1px 1px 10px $color-negro;
            @media (min-width: $sm) {
                font-size: 250%;
                line-height: 110%;
                margin-bottom: 20px;
            }
            @media (min-width: $md) {
                font-size: 250%;
                line-height: 120%;
            }
            @media (min-width: $xlg) {
                font-size: 400%;
                line-height: 150%;
            }
        }

        h2 {
            font-size: 150%;
            line-height: 100%;
            margin-bottom: 10px;
            text-shadow: 1px 1px 10px $color-negro;
            font-weight: 300;
            @media (min-width: $sm) {
                margin-bottom: 20px;
            }
            @media (min-width: $md) {
                font-size: 210%;
                line-height: 100%;
                margin-top: -25px;
            }
            @media (min-width: $xlg) {
                font-size: 320%;
                line-height: 100%;
                margin-top: -35px;
            }
        }

        h3 {
            font-size: 150%;
            line-height: 100%;
            margin: 30px;
            @media (min-width: $md) {
                margin: 10px 0;
                font-size: 170%;
                line-height: 100%;
            }
            @media (min-width: $xlg) {
                margin: 20px 0;
                font-size: 250%;
                line-height: 100%;
            }
        }

        h4 {
            font-size: 110%;
            line-height: 120%;
            margin: 20px;
            text-transform: uppercase;

            @media (min-width: $md) {
                font-size: 120%;
                line-height: 110%;
                margin: 10px;
            }
            @media (min-width: $xlg) {
                margin: 20px;
                font-size: 170%;
                line-height: 110%;
            }
        }


        h5 {
           font-size: 120%;
            line-height: 100%;
            margin-bottom: 10px;
            text-shadow: 1px 1px 10px $color-negro;
            font-weight: 200;
            @media (min-width: $md) {
                font-size:250%;
                line-height: 100%;
                margin-bottom: 20px;
            } 
        }

    }//hgroup


    .error-icon:before {
        background-position: -1px -87px;
    }

    .sucess-icon:before {
        background-position: -1px -4px;
    }
    
    .error-boton {
        font-weight: 300;
        font-size: 200%;
        line-height: 120%;
        margin-bottom: 20px;
        @media (min-width: $md) {
            font-size: 120%;
            line-height: 120%;
            margin-bottom: 10px;
        }
        @media (min-width: $xlg) {
            font-size: 200%;
            line-height: 120%;
            margin-bottom: 20px;
        }
    }
    
}//.header-wrapper

.lema-bienvenido {
    font-size: 150%;
    line-height: 110%;
    text-align: center;
    @media (min-width: $sm) {
        margin-bottom: 100px;
    }
    @media (min-width: $md) {
        margin-bottom: 20px;
    }
    @media (min-width: $xlg) {
        margin-bottom: 40px;
    }
    

    strong {
        text-transform: uppercase;
    }
}

//contenedor del boton para que este centrado y con margen
.btn-wrapper {
    text-align: center;
}

//botón básico con contorno blanco
.btn-contorno {
    display: inline-block;
    color: $color-blanco;
    border: 1px solid $color-blanco;
    @include border-radius(10px);
    padding: 5px 20px 10px;
    cursor: pointer;

    &:hover {
        zoom: 1;
        filter: alpha(opacity=60);
        opacity: 0.6;
        color: inherit;
    }
}

.icon-tel {
    display: inline-block;
    width: 30px;
    height: 30px;
    margin-right: 10px;
    background: url(../images/sprite.png) no-repeat;
    vertical-align: sub;
    background-position: -134px -4px;
}

.footer-wrapper {
    margin-top: 20px;
    @media (min-width: $sm) {
        margin-top: 50px;
    }
    @media (min-width: $md) {
        margin-top: 0;
        width: 100%;
    }

    h4 {
        font-weight: 300;
        border-bottom: 2px solid $color-blanco;
        text-transform: uppercase;
        padding-bottom: 10px;
            font-size: 210%;
            text-align: center;
            line-height: 120%;
            margin-bottom: 30px;
        @media (min-width: $md) {
            margin-bottom: 0px;
            text-align: left;
            font-size: 250%;
            line-height:120%;
            width: 50%;
        }
        @media (min-width: $xlg) {
            margin-bottom: 0px;
            text-align: left;
            font-size: 350%;
            line-height:120%;
            width: 60%;
        }
    }

    

    
}//.footer-wrapper

.footer-bottom {
    display: flex;
    display: -o-flex;
    display: -ms-flex;
    display: -moz-flex;
    display: -webkit-flex;
    -webkit-align-items: center;
    -moz-align-items: center;
    -ms-align-items: center;
    -o-align-items: center;
    align-items: center;
    -webkit-justify-content: space-between;
    -moz-justify-content: space-between;
    -ms-justify-content: space-between;
    -o-justify-content: space-between;
    justify-content: space-between;
    -webkit-flex-wrap: wrap;
    -moz-flex-wrap: wrap;
    -ms-flex-wrap: wrap;
    -o-flex-wrap: wrap;
    flex-wrap: wrap;



    h5 {
        width: 60%;
        font-weight: 600;
        text-transform: uppercase;
        font-size: 150%;
        line-height: 130%;
        @media (min-width: $md) {
            font-size: 550%;
            line-height:120%;    
        }
        
    }

    h4 {
        width: 60%;
        font-weight: 400;
        text-transform: uppercase;
        font-size: 100%;
        line-height: 110%;
        @media (min-width: $sm) {
            font-size: 150%;
        }
        @media (min-width: $md) {
            font-size: 170%;
            line-height: 130%;
        }
        @media (min-width: $xlg) {
            font-size: 200%;
            line-height: 130%;
        }
        
    }

    .btn-atsa-wrapper {
        width: 40%;
        text-align: center;
        @media (min-width: $md) {
            font-size: 190%;
            line-height: 120%;
        }
        @media (min-width: $xlg) {
            font-size: 220%;
            line-height: 120%;
        }
    }

    //boton de pantalla de bienvenida
    .btn-atsa-wrapper-intro {
        width: 40%;
        text-align: right;
        @media (min-width: $md) {
            font-size: 170%;
            line-height: 120%;
        }
        @media (min-width: $xlg) {
            font-size: 180%;
            line-height: 120%;
        }
    }
}//.footer-bottom

//pantalla de bienvenida
.intro-sanidad-wrapper {
    text-align: center;
    margin-bottom: 30px;
    @media (min-width: $md) {
        margin-bottom: 0;
    }

    h2 {
        line-height: 110%;
        font-weight: 300;
        text-transform: uppercase;
        margin-bottom: 20px;
        font-size: 250%;
        @media (min-width: $md) {
            font-size: 250%;
        }
        @media (min-width: $xlg) {
            font-size: 450%;
        }
    }

    h5 {
        font-weight: 700;
        text-transform: uppercase;
        font-size: 250%;
        margin-top: 30px;
        @media (min-width: $md) {
            font-size: 450%;
            line-height: 120%;
            margin-top: 0;
        }
        @media (min-width: $xlg) {
            font-size: 550%;
            line-height: 150%;
        }
    }

    img {
        width: 100%;
        @media (min-width: $md) {
            width: 80%;
        }
        @media (min-width: $xlg) {
            width: 90%;
        }
    }

}//.intro-sanidad-wrapper



/*
 * FORMULARIO
*/



.form-wrapper {
    position: relative;
    color: $color-gris-texto;
    background-color: $color-formulario-background;
    font-size: 150%;
    line-height: 120%;
    text-align: center;

    @media (min-width: $md) {
        text-align: left;
        font-size: 120%;
        line-height: 110%;
    }

    h1 {
        color: $color-negro;
        font-size: 170%;
        line-height: 120%;
        font-weight: 600;
        margin-bottom: 20px;
        @media (min-width: $sm) {
            font-size: 230%;
        }
        @media (min-width: $md) {
            font-size: 160%;
        }
        @media (min-width: $xlg) {
            font-size: 180%;
        }
    }

    h3 {
        font-size: 130%;
        line-height: 110%;
        margin: 30px 0 10px;
        color: $color-negro;
        font-weight: 600;
        @media (min-width: $md) {
            margin: 20px 0 10px;
        }
        @media (min-width: $xlg) {
            font-size: 160%;
            margin: 30px 0 10px;
        }
    }

}


.loader {
    display: none;
    background: rgba(0,0,0,0.2) url(../images/loader.gif) no-repeat center;
    position: absolute;
    height: 100%;
    width: 100%;
    top: 0;
    left: 0;
    background-size: 20%;
    z-index: 111;
}


.form-group-wrapper-cols {
    @media (min-width: $sm) {
        display: flex;
        display: -o-flex;
        display: -ms-flex;
        display: -moz-flex;
        display: -webkit-flex;
        -webkit-justify-content: space-between;
        -moz-justify-content: space-between;
        -ms-justify-content: space-between;
        -o-justify-content: space-between;
        justify-content: space-between;
    }
}

.form-col-60 {
    @media (min-width: $sm) {
        width:60%;
        -webkit-flex-wrap: wrap;
        -moz-flex-wrap: wrap;
        -ms-flex-wrap: wrap;
        -o-flex-wrap: wrap;
        flex-wrap: wrap;
    }
}

.form-col-50 {
    @media (min-width: $sm) {
        width:50%;
        -webkit-flex-wrap: wrap;
        -moz-flex-wrap: wrap;
        -ms-flex-wrap: wrap;
        -o-flex-wrap: wrap;
        flex-wrap: wrap;
    }
}

.form-col-40 {
    @media (min-width: $sm) {
        width:40%;
        -webkit-flex-wrap: wrap;
        -moz-flex-wrap: wrap;
        -ms-flex-wrap: wrap;
        -o-flex-wrap: wrap;
        flex-wrap: wrap;
    }
}

.form-group {
    position: relative;
    height: 50px;
    margin: 20px 0 15px;
    border-bottom: 2px solid #999;
    @media (min-width: $sm) {
        height: 70px;
    }
    @media (min-width: $md) {
        height: 30px;
        margin: 20px 0 10px;
    }
    @media (min-width: $xlg) {
        height: 40px;
        margin: 20px 0 15px;
    }

    .icon-input {
        position: absolute;
        height: 40px;
        width: 40px;
        right: 0;
        top:0;
        background: url(../images/sprite.png) no-repeat;
        background-position: -82px -38px;
        @media (min-width: $md) {
            top: -10px;
        }
        @media (min-width: $xlg) {
            top: 0;
        }

    }

    .icon-input-sucess {
        background-position: -82px -2px;
    }

    .icon-input-error {
        background-position: -82px -73px;
    }

    label {
        position: absolute;
        top: 0;
        left: 0;
        z-index:2;
        cursor: pointer;
        @include transition(all 0.3s);
        @media (min-width: $md) {
            top: -2px;
        }
        @media (min-width: $xlg) {
            top: 0;
        }
    }

    label.long-label {
        font-size: 80%;
        @media (min-width: $md) {
            font-size: 100%;
        }
    }

    label.label-col-right {
        @media (min-width: $md) {
            left: 5px;
        }
    }

    //cuando el input está en focus o tiene contentenido la etiqueta se achica
    label.on {
        font-size: 60%;
        top: -20px;
        z-index:0;
        @include transition(all 0.5s);
    }
    input {
        z-index:1;
        height: 50px;
        position: absolute;
        top: 0;
        left: 0;
        width: 90%;
        border: 0;
        background: transparent;
        font-size: 100%;
        color: $color-blanco;
        //padding-bottom: 30px;
        @media (min-width: $sm) {
            height: 80px;
        }
        @media (min-width: $md) {
            height: 20px;
        }
        @media (min-width: $xlg) {
            height: 40px;
        }
    }


    //input con contenido escrito
    .input-on {
        color: $color-blanco!important;
    }

    input[type=number] {
        -moz-appearance:textfield;
        &::-webkit-inner-spin-button, &::-webkit-outer-spin-button { 
          -webkit-appearance: none; 
          margin: 0; 

        }
    }

    input[type=date] {
        -moz-appearance:textfield;
        color: transparent;
        &::-webkit-inner-spin-button, &::-webkit-outer-spin-button { 
          -webkit-appearance: none; 
          margin: 0; 
        }

        &::-webkit-calendar-picker-indicator {
            display:none;
        }

        &::-webkit-datetime-edit-month-field {
            color: inherit
        }
        &::-webkit-datetime-edit-day-field {
            color: inherit
        }
        &::-webkit-datetime-edit-year-field {
            color: inherit;
        }
    }

    .msj-error-input {
        position: absolute;
        top: -15px;
        right: 50px;
        font-size: 50%;
        color: red;
        width: 55%;
        font-style: italic;
        line-height: 110%;
        display:none;
    }

    .msj-error-input-background {
        top: -13px;
        padding: 3px;
        background-color: rgba(255,255,255,0.5);
    }
    .msj-error-input-col {
        right: 45px;
    }

}//.form-group 

.btn-submit-wrapper {
    text-align: right;
    margin-top: 40px;
    @media (min-width: $md) {
        margin-top: 25px;
    }
    @media (min-width: $xlg) {
        margin-top: 40px;
    }

    .btn-submit {
        -webkit-appearance: none;
        border: none;
        width: auto;
        display: inline-block;
        background-color: $color-celeste;
        color: $color-blanco;
        padding: 10px 40px;
        @include border-radius(30px);
        font-weight: 600;
        line-height: 110%;
        cursor: pointer;
        font-size: 130%;

        &:hover {
            zoom: 1;
            filter: alpha(opacity=60);
            opacity: 0.6;
        }
    }
}

.inner-wrapper-form {
    padding: 20px 0;

    .form-group {
        @media (min-width: $md) {
            height: 30px;
        }
        @media (min-width: $xlg) {
            height: 40px;
        }
    }
}

.inner-wrapper-form-no-padding {
    @media (min-width: $xlg) {
        padding-top: 20px;
    }
}