@charset "UTF-8";
/*
    Estilo ATSA SECCION NOTICIAS
1. Fuentes (Google Fonts)
2. Extra Reset
3. Variables
4. gral hmtl body, html: secciones
5. slider
7. header
8. footer
9. btns-icons
10. news-page (gral)
a) sidebar
b) noticias index
11. news page (individual)
*/
/* ---- 2 Extra reset ---- */
html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline; }

/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure,
footer, header, hgroup, menu, nav, section {
  display: block; }

ol, ul {
  list-style: none; }

blockquote, q {
  quotes: none; }

blockquote:before, blockquote:after,
q:before, q:after {
  content: '';
  content: none; }

table {
  border-collapse: collapse;
  border-spacing: 0; }

a, a:hover {
  color: inherit;
  text-decoration: none; }

a:focus {
  border: none;
  outline: none;
  text-decoration: none; }

/*elimina el diseño por defecto en el iphone*/
input[type=submit] {
  -webkit-appearance: none;
  -webkit-border-radius: 0; }

/* ---- 3 variables ---- */
/*Familia Fuentes*/
/*tamaños fuentes*/
/*espaciado de letras*/
/*weight de las fuentes*/
/*colores*/
/*transparente*/
/*mediaqueries*/
/*

@media (max-width: $mq-movil) {}
-webkit-
   -moz-
    -ms-
     -o-
*/
::-webkit-input-placeholder {
  /* Chrome/Opera/Safari */ }

::-moz-placeholder {
  /* Firefox 19+ */ }

:-ms-input-placeholder {
  /* IE 10+ */ }

:-moz-placeholder {
  /* Firefox 18- */ }

/* ---- 4 estilo general ---- */
html, body {
  width: 100%;
  font-family: "Roboto", sans-serif, sans-serif;
  font-size: 11pt;
  line-height: 16pt;
  font-weight: 400;
  color: #006a91;
  background-color: #fff;
  letter-spacing: 0pt; }

@media (max-width: 768px) {
  .container {
    width: 100% !important;
    padding-left: 10px;
    padding-right: 10px; } }

/* ---- 5 slider ---- */
.slider-wrapper {
  position: relative;
  z-index: 0;
  background-color: #e5e5e5; }

.slider-wrapper-transparent {
  background-color: transparent !important; }

.loader-slider {
  background-color: #00acec;
  color: #F2F2F2;
  position: absolute;
  width: 100%;
  height: 100%;
  z-index: 11;
  display: flex;
  display: -webkit-flex;
  display: -moz-flex;
  display: -ms-flex;
  display: -o-flex;
  align-items: center;
  -webkit-align-items: center;
  -mozalign-items: center;
  -ms-align-items: center;
  -o-align-items: center;
  justify-content: center;
  -webkit-justify-content: center;
  -mozjustify-content: center;
  -ms-justify-content: center;
  -o-justify-content: center;
  text-align: center; }
  .loader-slider img {
    width: 50px !important; }

.slider {
  position: relative;
  overflow: hidden;
  width: 100%;
  height: 720px; }
  @media (max-width: 1600px) {
    .slider {
      height: 590px; } }
  @media (max-width: 1550px) {
    .slider {
      height: 550px; } }
  @media (max-width: 1500px) {
    .slider {
      height: 540px; } }
  @media (max-width: 1440px) {
    .slider {
      height: 525px; } }
  @media (max-width: 1400px) {
    .slider {
      height: 500px; } }
  @media (max-width: 1340px) {
    .slider {
      height: 468px; } }
  @media (max-width: 1260px) {
    .slider {
      height: 448px; } }
  @media (max-width: 1200px) {
    .slider {
      height: 430px; } }
  @media (max-width: 1150px) {
    .slider {
      height: 406px; } }
  @media (max-width: 1050px) {
    .slider {
      height: 368px; } }
  @media (max-width: 992px) {
    .slider {
      height: 350px; } }
  @media (max-width: 910px) {
    .slider {
      height: 310px; } }
  @media (max-width: 850px) {
    .slider {
      height: 296px; } }
  @media (max-width: 750px) {
    .slider {
      height: 360px;
      background-color: #e5e5e5; } }
  @media (max-width: 600px) {
    .slider {
      height: 350px; } }
  @media (max-width: 480px) {
    .slider {
      height: 235px; } }

.slides {
  list-style: none !important;
  padding: 0 !important; }

.slide-item {
  position: absolute;
  width: 100%;
  height: 100%;
  list-style: none; }

.slide-background-img {
  height: 100%; }
  .slide-background-img img {
    width: 100%;
    height: 100%; }

.slide-data {
  position: absolute;
  bottom: 0;
  background: rgba(58, 58, 58, 0.7);
  color: #F2F2F2;
  padding: 10px 20px;
  width: 80%;
  left: 10%; }
  @media (max-width: 750px) {
    .slide-data {
      position: relative;
      width: 100%;
      height: auto;
      top: -6px;
      left: 0;
      background: grey; } }
  @media (max-width: 480px) {
    .slide-data {
      display: flex;
      display: -webkit-flex;
      display: -moz-flex;
      display: -ms-flex;
      display: -o-flex;
      align-items: center;
      -webkit-align-items: center;
      -mozalign-items: center;
      -ms-align-items: center;
      -o-align-items: center;
      justify-content: center;
      -webkit-justify-content: center;
      -mozjustify-content: center;
      -ms-justify-content: center;
      -o-justify-content: center;
      text-align: center; } }

.slide-title {
  font-size: 14pt;
  font-weight: 700;
  text-transform: uppercase;
  margin-bottom: 5px; }

.slide-text {
  font-size: 11pt;
  font-weight: 500; }
  @media (max-width: 480px) {
    .slide-text {
      display: none; } }

.slide-link {
  font-size: 11pt;
  font-weight: 300;
  text-decoration: underline; }

.slide-link-movil {
  display: none;
  font-size: 11pt;
  font-weight: 300;
  text-decoration: underline; }
  @media (max-width: 480px) {
    .slide-link-movil {
      display: inline-block; } }

.slider-control-left {
  position: absolute;
  left: 0;
  width: 50px;
  height: 100%;
  top: 0;
  display: flex;
  display: -webkit-flex;
  display: -moz-flex;
  display: -ms-flex;
  display: -o-flex;
  align-items: center;
  -webkit-align-items: center;
  -mozalign-items: center;
  -ms-align-items: center;
  -o-align-items: center;
  justify-content: center;
  -webkit-justify-content: center;
  -mozjustify-content: center;
  -ms-justify-content: center;
  -o-justify-content: center;
  cursor: pointer;
  list-style: none; }

.slider-control-left:hover .icon-control-left {
  opacity: 0.7; }

.icon-control-left {
  width: 26px;
  height: 26px;
  background: url(../assets/images/sprite.png);
  background-position: -91px -99px; }
  @media (max-width: 750px) {
    .icon-control-left {
      display: none; } }

.slider-control-right {
  position: absolute;
  right: 0;
  width: 50px;
  height: 100%;
  top: 0;
  display: flex;
  display: -webkit-flex;
  display: -moz-flex;
  display: -ms-flex;
  display: -o-flex;
  align-items: center;
  -webkit-align-items: center;
  -mozalign-items: center;
  -ms-align-items: center;
  -o-align-items: center;
  justify-content: center;
  -webkit-justify-content: center;
  -mozjustify-content: center;
  -ms-justify-content: center;
  -o-justify-content: center;
  cursor: pointer; }

.slider-control-right:hover .icon-control-right {
  opacity: 0.7; }

.icon-control-right {
  width: 26px;
  height: 26px;
  background: url(../assets/images/sprite.png);
  background-position: -130px -99px; }
  @media (max-width: 750px) {
    .icon-control-right {
      display: none; } }

/* ---- 7 header ---- */
.main-header {
  position: relative;
  z-index: 11;
  transition: all 2s;
  -webkit-transition: all 2s;
  -moz-transition: all 2s;
  -ms-transition: all 2s;
  -o-transition: all 2s; }

.main-header-fixed {
  position: fixed;
  width: 100%;
  z-index: 11; }

/*logo*/
.brand-name {
  position: absolute;
  width: 320px;
  top: 3px;
  text-transform: uppercase;
  text-align: center;
  color: #F2F2F2;
  font-weight: 500;
  line-height: 12pt;
  font-size: 9pt;
  transition: all 0.3s;
  -webkit-transition: all 0.3s;
  -moz-transition: all 0.3s;
  -ms-transition: all 0.3s;
  -o-transition: all 0.3s; }
  .brand-name img {
    width: 30%;
    display: block;
    float: left;
    margin-right: 5px; }
  .brand-name h5 {
    float: left;
    width: 210px;
    margin-top: 15px;
    text-align: center; }
    .brand-name h5 span {
      letter-spacing: 0.7pt; }
  .brand-name h6 {
    float: left;
    width: 210px;
    color: #00acec;
    font-size: 18pt;
    line-height: 25pt;
    letter-spacing: 0.8pt; }
  @media (max-width: 480px) {
    .brand-name {
      display: none; } }

.brand-name-fixed {
  position: absolute;
  top: -10px;
  left: 10px;
  width: 239px;
  transition: all 0.3s;
  -webkit-transition: all 0.3s;
  -moz-transition: all 0.3s;
  -ms-transition: all 0.3s;
  -o-transition: all 0.3s; }
  .brand-name-fixed img {
    width: 20%;
    padding-top: 10px; }
  .brand-name-fixed h5 {
    color: #F2F2F2;
    font-size: 7pt;
    line-height: 9pt;
    width: 152px; }
  .brand-name-fixed h6 {
    font-size: 11pt;
    line-height: 15pt;
    width: 145px;
    color: #F2F2F2; }

.brand-name-movil {
  display: none; }
  @media (max-width: 768px) {
    .brand-name-movil {
      display: block;
      position: absolute;
      width: 200px;
      top: 3px;
      text-transform: uppercase;
      text-align: center;
      color: #006a91;
      font-weight: 500;
      line-height: 12pt;
      font-size: 9pt; } }
  .brand-name-movil img {
    width: 50px;
    display: block;
    float: left;
    margin-right: 5px; }
  .brand-name-movil h5 {
    float: left;
    width: 145px;
    margin-top: 6px;
    text-align: center;
    font-size: 7pt;
    line-height: 10pt; }
    .brand-name-movil h5 span {
      letter-spacing: 0.5pt; }
  .brand-name-movil h6 {
    float: left;
    width: 142px;
    color: #00acec;
    font-size: 11pt;
    line-height: 14pt;
    letter-spacing: 0.8pt; }

/*nav secundario*/
#header-submenus {
  background-color: #00acec;
  height: 50px;
  padding: 15px 0;
  position: fixed;
  width: 100%;
  z-index: 11; }
  @media (max-width: 768px) {
    #header-submenus {
      display: none; } }
  @media (max-width: 480px) {
    #header-submenus {
      display: none; } }

.header-redes-sociales {
  overflow: auto;
  float: right;
  margin-top: -10px; }
  @media (max-width: 992px) {
    .header-redes-sociales {
      display: none; } }

.header-sub-menu {
  float: right;
  margin-top: 13px;
  margin-right: 20px;
  /*queries .sub-menu*/ }
  .header-sub-menu li {
    float: left;
    text-transform: uppercase;
    border-right: 2px solid #006a91;
    padding: 0 10px;
    font-size: 11pt;
    line-height: 11pt; }
    .header-sub-menu li:last-child {
      border-right: none;
      padding-right: 0; }
    .header-sub-menu li:hover {
      color: #F2F2F2; }
  @media (max-width: 992px) {
    .header-sub-menu {
      display: none; } }

.header-sub-menu-fixed {
  margin-right: 140px; }

#search-form {
  float: right;
  text-align: right;
  margin-top: 5px;
  /*queries #search-form*/ }
  #search-form input {
    background-color: #006a91;
    color: #00acec;
    border: none;
    box-shadow: none;
    height: 20px;
    -webkit-border-radius: 5px;
    -moz-border-radius: 5px;
    -ms-border-radius: 5px;
    border-radius: 5px;
    padding: 0 5px;
    text-align: right;
    font-size: 9pt;
    font-weight: 400; }
  @media (max-width: 992px) {
    #search-form {
      display: none; } }
  #search-form ::-webkit-input-placeholder {
    /* Chrome/Opera/Safari */
    color: #00acec;
    text-transform: uppercase;
    font-size: 8pt; }
    @media (max-width: 768px) {
      #search-form ::-webkit-input-placeholder {
        font-size: 10pt; } }
  #search-form ::-moz-placeholder {
    /* Firefox 19+ */
    color: #00acec;
    text-transform: uppercase;
    font-size: 8pt; }
    @media (max-width: 768px) {
      #search-form ::-moz-placeholder {
        font-size: 10pt; } }
  #search-form :-ms-input-placeholder {
    /* IE 10+ */
    color: #00acec;
    text-transform: uppercase;
    font-size: 8pt; }
    @media (max-width: 768px) {
      #search-form :-ms-input-placeholder {
        font-size: 10pt; } }
  #search-form :-moz-placeholder {
    /* Firefox 18- */
    color: #00acec;
    text-transform: uppercase;
    font-size: 8pt; }
    @media (max-width: 768px) {
      #search-form :-moz-placeholder {
        font-size: 10pt; } }
  #search-form button {
    border: none;
    width: 15px;
    height: 15px;
    vertical-align: middle;
    background: transparent url(../assets/images/sprite.png);
    background-position: -201px -11px; }
    #search-form button:hover {
      background-position: -201px -51px; }

.search-form-fixed {
  display: none; }

/*nav principal*/
.header-nav {
  background-color: #F2F2F2;
  position: relative;
  top: 50px;
  z-index: 1;
  width: 100%;
  height: 64px;
  -webkit-box-shadow: 0px 2px 6px rgba(58, 58, 58, 0.3);
  -moz-box-shadow: 0px 2px 6px rgba(58, 58, 58, 0.3);
  -ms-box-shadow: 0px 2px 6px rgba(58, 58, 58, 0.3);
  box-shadow: 0px 2px 6px rgba(58, 58, 58, 0.3); }
  @media (max-width: 768px) {
    .header-nav {
      top: 0; } }

.header-nav-fixed {
  position: fixed;
  z-index: 1;
  width: 100%;
  top: -25px; }

.header-nav-fixed-open {
  top: 50px;
  -webkit-transition: all 0.5s;
  -moz-transition: all 0.5s;
  -ms-transition: all 0.5s;
  transition: all 0.5s; }

.main-nav {
  position: relative;
  padding-top: 15px;
  padding-bottom: 10px; }

.toggle-fixed {
  position: absolute;
  cursor: pointer;
  display: block;
  right: -200px;
  margin-top: -5px;
  border: none;
  height: 50px;
  width: 135px;
  float: right;
  z-index: 11111;
  color: #F2F2F2;
  background-color: transparent;
  transition: all 1s;
  -webkit-transition: all 1s;
  -moz-transition: all 1s;
  -ms-transition: all 1s;
  -o-transition: all 1s; }
  .toggle-fixed:focus {
    border: none;
    outline: none; }
  .toggle-fixed strong {
    margin-left: 40px;
    font-size: 18pt; }
  .toggle-fixed:hover {
    opacity: 0.8;
    filter: Alpha(opacity=80); }

.toggle-fixed-toclick {
  right: 0; }

.tog1-fixed {
  display: inline-block;
  width: 30px;
  height: 3px;
  background-color: #F2F2F2;
  position: absolute;
  left: 5px;
  top: 10px;
  transition: all 0.3s;
  -webkit-transition: all 0.3s;
  -moz-transition: all 0.3s;
  -ms-transition: all 0.3s;
  -o-transition: all 0.3s; }

.tog2-fixed {
  display: inline-block;
  width: 30px;
  height: 3px;
  background-color: #F2F2F2;
  position: absolute;
  left: 10px;
  top: 20px;
  transition: all 0.3s;
  -webkit-transition: all 0.3s;
  -moz-transition: all 0.3s;
  -ms-transition: all 0.3s;
  -o-transition: all 0.3s; }

.tog3-fixed {
  display: inline-block;
  width: 30px;
  height: 3px;
  background-color: #F2F2F2;
  position: absolute;
  left: 5px;
  top: 30px;
  transition: all 0.3s;
  -webkit-transition: all 0.3s;
  -moz-transition: all 0.3s;
  -ms-transition: all 0.3s;
  -o-transition: all 0.3s; }

.toggle-fixed:hover .tog2-fixed {
  left: 5px; }

.toggle-open .tog2-fixed {
  display: none; }

.toggle-open .tog1-fixed {
  transform: rotate(45deg);
  top: 18px; }

.toggle-open .tog3-fixed {
  transform: rotate(-45deg);
  top: 18px; }

.toggle {
  display: none;
  position: relative; }
  @media (max-width: 992px) {
    .toggle {
      cursor: pointer;
      display: block;
      border: none;
      height: 50px;
      width: 50px;
      float: right;
      z-index: 11111;
      background-color: transparent;
      transition: all 1s;
      -webkit-transition: all 1s;
      -moz-transition: all 1s;
      -ms-transition: all 1s;
      -o-transition: all 1s; }
      .toggle:focus {
        border: none;
        outline: none; } }

.tog1 {
  display: inline-block;
  width: 30px;
  height: 3px;
  background-color: #006a91;
  position: absolute;
  left: 5px;
  top: 10px;
  transition: all 0.3s;
  -webkit-transition: all 0.3s;
  -moz-transition: all 0.3s;
  -ms-transition: all 0.3s;
  -o-transition: all 0.3s; }

.tog2 {
  display: inline-block;
  width: 30px;
  height: 3px;
  background-color: #006a91;
  position: absolute;
  left: 10px;
  top: 20px;
  transition: all 0.3s;
  -webkit-transition: all 0.3s;
  -moz-transition: all 0.3s;
  -ms-transition: all 0.3s;
  -o-transition: all 0.3s; }

.tog3 {
  display: inline-block;
  width: 30px;
  height: 3px;
  background-color: #006a91;
  position: absolute;
  left: 5px;
  top: 30px;
  transition: all 0.3s;
  -webkit-transition: all 0.3s;
  -moz-transition: all 0.3s;
  -ms-transition: all 0.3s;
  -o-transition: all 0.3s; }

.toggle:hover .tog2 {
  left: 5px; }

.toggle-open .tog2 {
  display: none; }

.toggle-open .tog1 {
  transform: rotate(45deg);
  top: initial; }

.toggle-open .tog3 {
  transform: rotate(-45deg);
  top: initial; }

.main-menu {
  float: right;
  text-transform: uppercase;
  font-weight: 500;
  padding-bottom: 15px; }
  .main-menu li {
    float: left;
    margin-right: 10px;
    line-height: 11pt;
    padding: 10px 0;
    position: relative;
    font-weight: 400;
    color: #4f4f4f; }
    .main-menu li:visited {
      color: #4f4f4f; }
    .main-menu li:active {
      color: #4f4f4f; }
    .main-menu li:focus {
      color: #4f4f4f; }
    .main-menu li:hover {
      font-weight: 500;
      border-top: 1px solid #00acec;
      border-bottom: 1px solid #00acec; }

.main-menu-active {
  border-top: 1px solid #006a91;
  border-bottom: 1px solid #006a91; }

.main-menu-sub1 {
  position: absolute;
  padding: 0;
  top: 33px;
  left: -5px;
  min-width: 100%;
  display: none;
  color: #006a91;
  font-weight: 300; }
  .main-menu-sub1 li {
    float: none;
    line-height: 13pt;
    padding: 0;
    min-width: 200px;
    background-color: rgba(255, 255, 255, 0.8); }
    .main-menu-sub1 li:first-child {
      margin-top: 15px; }
    .main-menu-sub1 li:hover {
      color: #00acec; }
    .main-menu-sub1 li a {
      padding: 16px 10px;
      display: inline-block;
      width: 100%; }

/*animaciones sub-menus css*/
.main-menu li:hover > .main-menu-sub1 {
  display: block; }

.last-item-menu:hover > .main-menu-sub1 {
  display: block;
  left: -150px;
  width: 230px; }
  @media (max-width: 768px) {
    .last-item-menu:hover > .main-menu-sub1 {
      left: 0; } }

.sub-menu2-movil {
  display: none; }

/*queries .main-menu*/
@media (max-width: 992px) {
  .main-menu {
    float: none;
    padding-bottom: 0;
    font-size: 16pt;
    line-height: 24pt;
    margin-top: 56px;
    height: 0;
    overflow: hidden;
    width: 100%;
    background-color: #F2F2F2;
    padding: 0px 20px; } }
  @media (max-width: 992px) and (max-width: 480px) {
    .main-menu {
      margin-top: 10px; } }
@media (max-width: 992px) {
    .main-menu li {
      float: none;
      margin-right: 0px;
      padding: 10px 0px;
      line-height: 15pt; }
      .main-menu li:first-child {
        margin-top: 15px; }
      .main-menu li:after {
        content: '';
        width: 26px;
        height: 26px;
        display: block;
        position: absolute;
        right: 10px;
        top: 4px;
        background: url(../assets/images/sprite-movil-nav.png) no-repeat;
        background-position: 3px -2px; }

  .sub-menu2-movil {
    display: block;
    border-top: 1px solid #00acec;
    margin-top: 10px; } }
/* cierraqueries .main-menu*/
.main-menu-open-movil {
  background: #00acec;
  color: #F2F2F2; }
  .main-menu-open-movil:after {
    background-position: -19px -2px !important; }

/*queries .main-menu-sub1*/
@media (max-width: 768px) {
  .main-menu-sub1 {
    position: relative;
    background-color: #F2F2F2;
    padding: 0;
    top: 10px;
    left: 0;
    font-size: 12pt;
    display: block;
    height: 0;
    overflow: hidden; }
    .main-menu-sub1 li {
      float: none;
      padding: 0px 10px;
      text-align: left;
      border-top: 1px solid #00acec;
      border-bottom: none; }
      .main-menu-sub1 li:after {
        content: none; } }
.main-menu-open li:last-child:hover > .main-menu-sub1 {
  display: block;
  left: 0; }

.nav-index {
  position: absolute;
  bottom: -84px;
  display: block;
  width: 100%;
  padding: 10px 20px;
  background-color: rgba(0, 172, 236, 0.5);
  text-align: right;
  font-weight: 300;
  text-transform: uppercase;
  line-height: 1;
  -webkit-transition: all 0.5s;
  -moz-transition: all 0.5s;
  -ms-transition: all 0.5s;
  transition: all 0.5s; }
  .nav-index a:hover {
    text-decoration: underline; }
  @media (max-width: 768px) {
    .nav-index {
      display: none; } }

.nav-index-transparent {
  position: absolute;
  bottom: -84px;
  display: block;
  width: 100%;
  padding: 10px 20px;
  background-color: rgba(0, 172, 236, 0.5);
  text-align: right;
  font-weight: 300;
  text-transform: uppercase;
  line-height: 1;
  color: #fff;
  -webkit-transition: all 0.5s;
  -moz-transition: all 0.5s;
  -ms-transition: all 0.5s;
  transition: all 0.5s; }
  .nav-index-transparent a:hover {
    text-decoration: underline; }
  @media (max-width: 768px) {
    .nav-index-transparent {
      display: none; } }

.nav-index-fixed {
  bottom: 50px;
  -webkit-transition: all 0.5s;
  -moz-transition: all 0.5s;
  -ms-transition: all 0.5s;
  transition: all 0.5s; }

.nav-index-elements {
  display: block;
  float: right;
  margin-right: 10px;
  padding-right: 10px;
  border-right: 1px solid #006a91; }

.nav-index-item-now {
  border-right: none;
  padding-right: 0px;
  margin-right: 0px; }

/* ---- 8 footer ---- */
/*footer grals*/
#main-footer {
  position: relative;
  background: #8c8c8c url(../assets/images/fondo-trama-footer.png);
  color: #F2F2F2;
  z-index: 1;
  padding-top: 40px;
  padding-bottom: 40px;
  font-size: 9pt;
  text-transform: uppercase;
  box-shadow: 0px 8px 11px rgba(0, 0, 0, 0.4);
  -webkit-box-shadow: 0px -2px 11px rgba(0, 0, 0, 0.4);
  -moz-box-shadow: 0px -2px 11px rgba(0, 0, 0, 0.4);
  -ms-box-shadow: 0px -2px 11px rgba(0, 0, 0, 0.4);
  -o-box-shadow: 0px -2px 11px rgba(0, 0, 0, 0.4); }

/*grid footer*/
.location {
  float: left;
  width: 65%;
  padding: 5px 15px; }
  @media (max-width: 480px) {
    .location {
      width: 100%;
      float: none; } }

.form-wrapper {
  float: left;
  width: 35%; }
  @media (max-width: 480px) {
    .form-wrapper {
      float: none;
      width: 90%;
      margin: 130px auto 50px; } }

.footer-menu-wrapper {
  float: left;
  width: 35%;
  padding: 5px 15px; }
  @media (max-width: 480px) {
    .footer-menu-wrapper {
      display: none; } }

.conectados {
  float: left;
  width: 65%;
  padding: 5px 15px; }
  @media (max-width: 480px) {
    .conectados {
      width: 100%;
      float: none; } }

/*estilos footer*/
.footer-menu li a {
  cursor: pointer; }
  .footer-menu li a:hover {
    text-decoration: underline; }

.footer-logos img {
  width: 100%;
  display: block; }

.logos-sanidad {
  width: 122px;
  float: left;
  padding: 10px 0; }

.footer-phone {
  width: 175px;
  position: relative;
  font-size: 18pt;
  line-height: 36pt;
  padding-left: 45px;
  float: left; }
  .footer-phone:before {
    content: '';
    display: block;
    position: absolute;
    width: 35px;
    height: 35px;
    background: url(../assets/images/sprite.png);
    background-position: -182px -166px;
    top: 8px;
    left: 0px; }

.address {
  position: relative;
  padding-left: 35px;
  font-size: 8pt;
  line-height: 12pt;
  margin-bottom: 10px; }
  .address:before {
    content: '';
    display: block;
    position: absolute;
    width: 35px;
    height: 35px;
    background: url(../assets/images/sprite.png);
    background-position: -220px -163px;
    top: -2px;
    left: 0px; }

.g-map-wrapper {
  -webkit-border-radius: 5px;
  -moz-border-radius: 5px;
  -ms-border-radius: 5px;
  border-radius: 5px;
  background: #fff;
  height: 160px;
  width: 100%; }

.form-wrapper h4 {
  font-weight: 500;
  margin-bottom: 20px; }

#footer-form {
  position: relative; }
  #footer-form input {
    width: 100%;
    -webkit-border-radius: 5px;
    -moz-border-radius: 5px;
    -ms-border-radius: 5px;
    border-radius: 5px;
    margin: 4px auto;
    height: 30px;
    padding: 5px;
    color: #8c8c8c; }
  #footer-form textarea {
    width: 100%;
    -webkit-border-radius: 5px;
    -moz-border-radius: 5px;
    -ms-border-radius: 5px;
    border-radius: 5px;
    margin: 2px auto;
    height: 90px;
    padding: 5px;
    color: #8c8c8c; }
  #footer-form input[type=submit] {
    background: #00acec;
    color: #006a91;
    border: none;
    width: 120px; }
    #footer-form input[type=submit]:hover {
      opacity: 0.7;
      filter: Alpha(opacity=70);
      color: #F2F2F2; }

.contact-footer-msj-exito {
  display: block;
  font-size: 14pt;
  color: #00acec;
  font-style: italic;
  margin: 10px 0;
  text-align: center;
  position: absolute;
  top: 0;
  left: 0;
  background: rgba(255, 255, 255, 0.8);
  height: 75%;
  width: 100%;
  padding: 50px 10px;
  display: none; }

.contact-footer-msj-error {
  display: block;
  font-size: 14pt;
  color: red;
  font-style: italic;
  margin: 10px 0;
  text-align: center;
  position: absolute;
  top: 0;
  left: 0;
  background: rgba(255, 255, 255, 0.8);
  height: 100%;
  width: 100%;
  padding: 40px 10px;
  display: none; }

.footer-menu {
  margin-top: 35px; }

.logo-cyb {
  width: 130px;
  margin-top: 10px; }

.redes-sociales-footer-wrapper {
  position: relative;
  background-size: contain;
  background-size: 85%;
  background-position: left bottom;
  z-index: 1; }
  .redes-sociales-footer-wrapper:before {
    content: '';
    background: url(../assets/images/logos/logo-seguinos.png) no-repeat;
    position: absolute;
    top: 7px;
    left: -10px;
    width: 100%;
    height: 103px;
    background-size: 70%;
    z-index: 0; }
    @media (max-width: 1440px) {
      .redes-sociales-footer-wrapper:before {
        top: 25px;
        height: 90px; } }
    @media (max-width: 992px) {
      .redes-sociales-footer-wrapper:before {
        left: 0px;
        height: 160px;
        background-size: 100%; } }
    @media (max-width: 480px) {
      .redes-sociales-footer-wrapper:before {
        top: 50px;
        height: 140px; } }

.redes-sociales-footer {
  float: right;
  z-index: 11;
  position: relative; }

.emergencias-footer {
  text-align: right;
  font-size: 8pt;
  line-height: 12pt;
  margin-top: 120px; }
  @media (max-width: 992px) {
    .emergencias-footer {
      margin-top: 200px; } }
  @media (max-width: 480px) {
    .emergencias-footer {
      text-align: center;
      margin-top: 150px; } }
  .emergencias-footer strong {
    font-weight: 700; }

/* ---- 9 btns-icon ---- */
.redes-sociales-header li {
  float: left; }
  .redes-sociales-header li a {
    display: inline-block;
    width: 40px;
    height: 40px;
    cursor: pointer; }

.red-social {
  background: url(../assets/images/sprite.png) no-repeat; }

.red-social-youtube-header {
  background-position: -1px 5px; }
  .red-social-youtube-header:hover {
    background-position: -86px -160px; }

.red-social-facebook-header {
  background-position: -35px 5px; }
  .red-social-facebook-header:hover {
    background-position: 1px -160px; }

.red-social-twitter-header {
  background-position: -73px 5px; }
  .red-social-twitter-header:hover {
    background-position: -130px -160px; }

.red-social-instagram-header {
  background-position: -112px 5px; }
  .red-social-instagram-header:hover {
    background-position: -42px -160px; }

.redes-sociales-footer li {
  float: left;
  margin-right: 5px; }
  .redes-sociales-footer li a {
    display: inline-block;
    width: 40px;
    height: 45px;
    cursor: pointer; }
    .redes-sociales-footer li a:hover {
      opacity: 0.5; }

.red-social-youtube-footer {
  background-position: -86px -160px; }

.red-social-facebook-footer {
  background-position: 1px -160px; }

.red-social-twitter-footer {
  background-position: -130px -160px; }

.red-social-instagram-footer {
  background-position: -42px -160px; }

.redes-sociales-movil {
  width: 70%;
  margin: 0 auto;
  overflow: auto; }
  .redes-sociales-movil li {
    float: left;
    width: 40%;
    margin: 20px 5%; }
    .redes-sociales-movil li a {
      display: block;
      cursor: pointer; }
      .redes-sociales-movil li a img {
        width: 100%; }

.red-social-youtube-movil {
  background-position: -3px -43px; }

.red-social-facebook-movil {
  background-position: -40px -43px; }

.red-social-twitter-movil {
  background-position: -78px -43px; }

.red-social-instagram-movil {
  background-position: -115px -43px; }

/* ---- 10 main ---- */
.wrapper-page-noticias {
  position: relative;
  background-color: #fff;
  padding: 130px 0 80px; }
  @media (max-width: 768px) {
    .wrapper-page-noticias {
      padding: 100px 0 80px; } }

/* ------- sidebar -----*/
aside {
  font-size: 10pt; }

.title-sidebar {
  font-size: 14pt;
  line-height: 18pt;
  font-weight: 500;
  position: relative;
  margin-bottom: 50px;
  color: #4f4f4f; }
  .title-sidebar:after {
    content: '';
    position: absolute;
    bottom: -20px;
    left: 0;
    width: 50px;
    height: 2px;
    background-color: #00acec; }

.section-sidebar {
  margin-bottom: 50px; }

.archivo-noticias-menu h2 {
  font-size: 13pt;
  line-height: 18pt;
  font-weight: 500;
  text-transform: uppercase;
  color: #006a91;
  margin-bottom: 15px; }

.ui-accordion .ui-accordion-header {
  display: block;
  cursor: pointer;
  position: relative;
  margin: 2px 0 0 0;
  padding: .5em .5em .5em .7em;
  font-size: 100%;
  /*css agregado al css de jquery ui*/
  border-top: 1px solid #8c8c8c;
  text-transform: uppercase; }
  .ui-accordion .ui-accordion-header:hover {
    color: #00acec;
    font-weight: 500; }
  .ui-accordion .ui-accordion-header:focus {
    outline: none !important; }
  .ui-accordion .ui-accordion-header:before {
    content: '';
    width: 10px;
    height: 10px;
    position: absolute;
    left: -6px;
    top: 34%;
    background: url(../assets/images/sprite.png);
    background-position: -162px -54px; }

.ui-accordion .ui-accordion-content {
  padding: .2em 1.2em;
  border-top: 0;
  overflow: auto; }

.etiquetas-noticias {
  padding: 5px; }
  .etiquetas-noticias a {
    text-transform: uppercase;
    cursor: pointer;
    font-weight: 300;
    font-size: 12pt;
    line-height: 16pt;
    padding: 0 4px; }
    .etiquetas-noticias a:hover {
      font-style: italic;
      font-size: 16pt;
      color: #00acec; }

.loop-recientes {
  overflow: auto; }
  .loop-recientes li {
    margin: 20px auto;
    clear: both;
    overflow: auto;
    position: relative; }

.loop-recientes-footer-single-wrapper {
  width: 100%;
  float: left;
  clear: both;
  margin: 50px auto;
  overflow: auto; }
  @media (max-width: 768px) {
    .loop-recientes-footer-single-wrapper {
      display: none; } }
  .loop-recientes-footer-single-wrapper h3 {
    text-align: center;
    text-transform: uppercase;
    font-size: 14pt;
    font-weight: 500;
    margin: 20px 0;
    padding: 25px 0; }

.loop-recientes-footer-single {
  overflow: auto;
  columns: 2; }

.loop-recientes-item {
  cursor: pointer;
  overflow: auto; }

.loop-recientes-item > a:hover h1 {
  color: #006a91 !important; }
.loop-recientes-item > a:hover p {
  color: #006a91 !important; }
.loop-recientes-item > a:hover .recientes-img-loop {
  opacity: 0.7;
  filter: Alpha(opacity=70); }

.noticia-recientes-item {
  overflow: auto;
  position: relative; }

.recientes-img-loop {
  width: 35%;
  float: left;
  height: 65px;
  overflow: hidden; }
  @media (max-width: 992px) {
    .recientes-img-loop {
      float: none;
      width: 90%;
      margin: 20px auto;
      height: auto;
      max-height: 320px; } }
  .recientes-img-loop img {
    min-width: 100%;
    width: 100%; }
    @media (max-width: 992px) {
      .recientes-img-loop img {
        width: 100%; } }

.recientes-text-loop {
  width: 65%;
  float: left;
  padding: 0 10px; }
  .recientes-text-loop h1 {
    font-weight: 500;
    font-size: 11pt;
    margin-bottom: 5px;
    color: #000000; }
  .recientes-text-loop p {
    color: #8c8c8c; }

.content-archivo li {
  list-style-type: initial; }

.loop-recientes-item-row {
  cursor: pointer; }
  .loop-recientes-item-row:hover {
    opacity: 0.6; }

.recientes-img-loop-row {
  position: relative;
  overflow: hidden;
  height: 250px; }
  @media (max-width: 1200px) {
    .recientes-img-loop-row {
      height: 190px; } }
  .recientes-img-loop-row img {
    width: 170%;
    position: absolute;
    left: -30%; }

.recientes-text-loop-row {
  position: absolute;
  top: 0;
  width: 100%;
  left: 0;
  background: rgba(58, 58, 58, 0.7);
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
  padding: 0 20px; }
  .recientes-text-loop-row h1 {
    color: #fff;
    margin: 0;
    border-bottom: none !important; }

/* ------- noticias index -----*/
.loop-noticias {
  overflow: auto;
  padding: 0px 30px;
  margin-bottom: 50px; }

.loop-noticias-item {
  overflow: auto;
  margin: 30px auto;
  padding: 10px 5px;
  position: relative; }
  .loop-noticias-item:first-child {
    margin-top: 0; }

.noticia-index h1 {
  font-size: 16pt;
  line-height: 24pt;
  text-transform: uppercase;
  margin-bottom: 30px;
  border-bottom: 2px solid #00acec; }

.meta-data-news {
  position: relative;
  min-height: 200px;
  max-height: 530px;
  overflow: hidden; }
  .meta-data-news img {
    width: 100%; }
  @media (max-width: 768px) {
    .meta-data-news {
      background-color: #fff;
      min-height: initial; } }

.date-news {
  position: absolute;
  top: 0;
  left: 0;
  background-color: rgba(255, 255, 255, 0.8);
  width: 80px;
  height: 80px;
  display: flex;
  align-items: center;
  justify-content: center; }
  .date-news p {
    text-align: center;
    font-size: 8pt;
    color: #000000; }
    .date-news p strong {
      font-size: 28pt;
      color: #00acec;
      font-weight: 300; }

.excerpt-news {
  line-height: 16pt;
  font-size: 11pt;
  margin: 20px auto; }

.btn-noticia-index {
  width: 80%;
  float: right;
  text-align: right;
  border-bottom: 1px solid #8c8c8c; }
  .btn-noticia-index a {
    display: inline-block;
    padding: 15px 30px;
    text-transform: uppercase;
    color: #F2F2F2;
    background-color: #00acec;
    cursor: pointer; }
    .btn-noticia-index a:hover {
      opacity: 0.8; }

.load-more-by-ajax {
  text-align: center; }
  .load-more-by-ajax button {
    padding: 15px 30px;
    text-transform: uppercase;
    background: #00acec;
    color: #fff;
    cursor: pointer;
    border: none;
    margin: 50px 0 20px; }
    .load-more-by-ajax button:hover {
      opacity: 0.8; }

.loading-news-ajax {
  margin: 50px 0 30px;
  text-transform: uppercase;
  font-size: 26pt;
  font-weight: 300;
  color: #00acec;
  font-style: italic; }

/* pagina de noticias */
.main-img-news {
  position: relative;
  min-height: 200px;
  overflow: hidden; }
  .main-img-news img {
    width: 100%; }
  @media (max-width: 768px) {
    .main-img-news {
      max-height: initial;
      min-height: initial;
      background-color: transparent; } }

.title-news {
  margin: 50px 0;
  position: relative; }
  .title-news h1 {
    color: #000000;
    font-size: 16pt;
    line-height: 24pt;
    text-transform: initial;
    margin-bottom: 30px;
    border: none;
    font-weight: 500; }
  .title-news:after {
    content: '';
    position: absolute;
    width: 10%;
    height: 2px;
    background-color: #00acec;
    bottom: -30px;
    left: 0; }

.content-news h2 {
  margin: 20px 0;
  font-size: 18pt;
  font-weight: 500; }
.content-news p {
  margin: 10px 0; }
  .content-news p img {
    width: 80%;
    display: block;
    margin: 50px auto; }
  .content-news p a {
    text-decoration: underline; }
.content-news ul {
  list-style: square;
  padding-left: 20px;
  margin: 20px 0; }

.wrapper-iframe-video {
  margin: 20px 0 50px;
  position: relative;
  padding-bottom: 56.25%;
  /* 16:9 Aspect Ratio */
  padding-top: 25px; }
  .wrapper-iframe-video iframe {
    position: absolute;
    width: 100% !important;
    height: 100% !important; }

.noticia-footer {
  margin: 80px 0 0px; }

/*# sourceMappingURL=style-news.css.map */
