.contacts-container {
	margin:50px auto;
}

.tabla-suscriptores {
	width: 100%;
	clear: both;
	td {
		padding: 0 1%;
		vertical-align: middle;

		em {
			color: #666;
		}
	}
	thead{
		font-size: 110%;
		font-weight: bold;
		tr {
			border: 1px solid #666;
			background-color: #ccc;
		}
	}
	tbody{
		tr {
			border: 1px solid #666;
		}
	}
}

.del-user {
	cursor: pointer;
	&:hover {
		opacity: 0.7;
	}

	img {
		display: block;
		width: 80%;
		margin: 0 auto;
	}
}

.filtros-wrapper {
	float: right;

	.orden-suscriptores{
		display: inline-block;
		color: #fff;
		border: none;
		padding: 3px 10px;
		text-align: center;
		text-transform: uppercase;
		margin: 20px auto 1px;
		cursor: pointer;
		-webkit-border-radius: 5px;
		-moz-border-radius: 5px;
		-ms-border-radius: 5px;
		border-radius: 5px;
		background-color: $danger;
	}

	p {
		text-align: center;
	}
}

.wrapper-loaders {
	margin: 30px 0;
	.select-cant-post {
		//border-left: 1px solid #999;
		display: inline-block;
		padding-left: 10px;
		margin-left: 10px;
		color: #999;
		vertical-align: middle;
		p {
			display: block;
			float: left;
		}
		.select-mostrar {
			float: left;
			display: block;
			color: #666;
			border: none;
			padding: 3px 10px;
			text-align: center;
			text-transform: uppercase;
			margin: 0px 10px;
			cursor: pointer;
			-webkit-border-radius: 5px;
			-moz-border-radius: 5px;
			-ms-border-radius: 5px;
			border-radius: 5px;
			background-color: #eee;
			width: auto;	
		}
		
	}	
}


.buttons-wrapper {
	select {
	    display: inline-block;
	    width: 100px;
	    vertical-align: super;
	    background-color: #ccc;
	    color: #666;
	    font-size: 80%;
	    padding: 3px 2px;
	    border: none;
	}

	select.anulado {
		background-color: $danger;
		color: #fff;	
	}
	select.nocontactado {
		background-color: $resaltado;	
		color: #fff;
	}
	select.firmado {
		background-color:#00acec;	
		color: #fff;
	}

	.del-user {
		img {
			width: 20px;
		}
	}
}

.member_notas_wrapper {
	position: relative;
}

.member_notas {
	position: relative;
	font-size: 70%;
	font-style: italic;
    height: 50px;
    overflow: hidden;
    cursor: pointer;
}

.member_notas_full {
	display: none;
	position: absolute;
	z-index: 11;
	padding: 10px;
	width: 150px;
	height: 150px;
	border: 1px solid #333;
	top:30px;
	left:50px;
	background-color: #fff;
	color: #333;
	box-shadow: 1px 1px 2px #999;

	&:after{
	    content: 'Para editar las notas, debe editar el contacto';
	    position: absolute;
	    bottom: 0;
	    left: 6px;
	    width: 100%;
	    height: 20px;
	    font-size: 60%;
	    font-style: italic;
	}
}

#delegado {
	width: 70%;
    max-width: 150px;
    background: #d9534f;
    color: white;
    border: none;
    padding: 5px;
    border-radius: 5px;
    display: inline-block;
}

.btn-select-delegado {
	margin-left: 10px;
    width: 25%;
    max-width: 50px;
    text-align: center;
    padding: 7px;
}


/*
 * FORMULARIO INDIVIDUAL
*/

.wrapper-impresion {
	font-family: $fuente-secundaria;
	position: relative;

	.no-screen {
		display: none;
	}

	.no-print {
		//display:none;
	}

	

	.footer-imprimir {
		//display: none;
	}

	.afiliado_form {
		padding-top: 30px;
		

		//h2 subtitulo form
		.form-subtitle {
			text-transform: initial;
			margin: 0;
		}


		.form-section {
			margin: 20px auto;
		}//.form-section

		.row-form {
			@media (min-width: $sm) {
				display: flex;
				display: -o-flex;
				display: -ms-flex;
				display: -moz-flex;
				display: -webkit-flex;
				-webkit-justify-content: space-between;
				-moz-justify-content: space-between;
				-ms-justify-content: space-between;
				-o-justify-content: space-between;
				justify-content: space-between;	
			}
			
		}//.row-form

		.input-label-wrapper {
			height: 25px;
			margin-bottom: 15px;
			-webkit-flex-grow: 1;
			-moz-flex-grow: 1;
			-ms-flex-grow: 1;
			-o-flex-grow: 1;
			flex-grow: 1;
			display: flex;
			display: -o-flex;
			display: -ms-flex;
			display: -moz-flex;
			display: -webkit-flex;
			-webkit-align-items: center;
			-moz-align-items: center;
			-ms-align-items: center;
			-o-align-items: center;
			align-items: center;
			-webkit-justify-content: flex-start;
			-moz-justify-content: flex-start;
			-ms-justify-content: flex-start;
			-o-justify-content: flex-start;
			justify-content: flex-start;



			label {
				display: inline-block;
				width: auto;
				margin-right: 5px;
			}

			input {
				-webkit-flex-grow: 1;
				-moz-flex-grow: 1;
				-ms-flex-grow: 1;
				-o-flex-grow: 1;
				flex-grow: 1;
				font-family: $fuente-secundaria;
				display: inline-block;
				width: auto;
				border: none;
				border-bottom: 1px solid #333;
				background-color: transparent;
				padding: 2px 5px;
				margin-right: 15px;
				font-weight: 700;
			}

			input[type=number] {
		        -moz-appearance:textfield;
		        &::-webkit-inner-spin-button, &::-webkit-outer-spin-button { 
		          -webkit-appearance: none; 
		          margin: 0; 
		          font-family: $fuente-secundaria;
		        }
		    }

		    input[type=date] {
		    	border: none;
		        -moz-appearance:textfield;
		        padding-left: 10px;
		        margin-right: 10px;
		        border: 1px solid #9e9e9e;
		        &::-webkit-inner-spin-button, &::-webkit-outer-spin-button { 
		          -webkit-appearance: none; 
		          //margin: 0; 
		        }

		        &::-webkit-calendar-picker-indicator {
		            //display:none;
		        }
		        &::-webkit-clear-button {
		            display:none;
		        }
		    }

		    input[type=checkbox] {
		    	position: relative;
		    	cursor: pointer;
		    	&:after {
		    		@media (min-width: $sm) {
			    		content: '';
					    display: block;
					    position: absolute;
					    top: -1px;
					    left: -1px;
					    width: 15px;
					    height: 15px;
					    background: #fff;
					    border: 1px solid #9e9e9e;
					}

		    	}

		    	&:checked {
		    		&:after {
			    		background: #333;
			    	}
		    	}
		    }

		}//.input-label-wrapper

		.input-label-wrapper-nogrow {
			-webkit-flex-grow: 0;
			-moz-flex-grow: 0;
			-ms-flex-grow: 0;
			-o-flex-grow: 0;
			flex-grow: 0!important;
		}


		hr {
			margin: 20px 40px;
		}

		.btns-wrappers {
			text-align: right;
			input[type=button],input[type=submit]{
				width:auto;
				@include border-radius(5px);
			}
		}

		.table-grupo-familiar {
			width: 100%;
			margin: 10px 0 50px;
			
			thead {
				td {
					height: 40px;
					text-align: center;
				}
			}
			tbody {
				td {
					height: 25px;
					input {
						position: relative;
						margin: 0 auto;
						width: 90%;
						border: none;
						border-bottom: 1px solid #333;
						font-family: $fuente-secundaria;
					}
					input[type=checkbox] {
				    	position: relative;
				    	cursor: pointer;
				    	&:after {
							@media (min-width: $sm) {
				    		    content: '';
							    display: block;
							    position: absolute;
							    top: -5px;
							    left: 8px;
							    width: 20px;
							    height: 20px;
							    background: #fff;
							    border: 1px solid #9e9e9e;
						    }
						    @media (min-width: $lg) {
								left: 13px;
							}
				    	}

				    	&:checked {
				    		&:after {
					    		background: #333;
					    	}
				    	}
				    }
				}
			}
			.del-pariente {
				width: 30px;
			    height: 30px;
			    cursor: pointer;
			    img {
			    	width: 100%;
			    }
			}
			.empty-row {
			    text-align: center;
			    font-style: italic;
			    font-weight: 600;
			    height: 50px;
			    padding: 50px 0;
			    text-transform: uppercase;
			}
		}

	}//.afiliado_form

}//.wrapper-impresion

.wrapper-notes-status {
	display: flex;
	display: -o-flex;
	display: -ms-flex;
	display: -moz-flex;
	display: -webkit-flex;
	-webkit-justify-content: flex-end;
	-moz-justify-content: flex-end;
	-ms-justify-content: flex-end;
	-o-justify-content: flex-end;
	justify-content: flex-end;
	font-size: 80%;

	.note-wrapper {
		width: 200px;
    	height: 120px;
    	padding: 0px 0 10px 20px;

    	textarea {
    		height: 80px;
    	}
	}

	.select-wrapper {
		width: 150px;
		margin-right: 10px;
		select {
			padding: 5px;
			background: #00acec;
			color: #fff;
			border: none;
			text-transform: uppercase;
			font-size:100%;
		}	
	}
	
	
}

.icon-redes-l {
	display: inline-block;
	width: 25px;
	height: 25px;
	background: url(../images/sprite.png) no-repeat;
}

.icon-redes-l-facebook {
	background-position: -3px 0px;
}
.icon-redes-l-twitter {
	background-position: -35px 0px;
}

.icon-facebook-footer {
	display: inline-block;
	width: 15px;
	height: 15px;
	margin: 0 5px 0 20px;
	background: url(../images/sprite.png) no-repeat;
	background-position: -5px -28px;
}
.icon-twitter-footer {
	display: inline-block;
	width: 15px;
	height: 15px;
	margin: 0 5px 0 20px;
	background: url(../images/sprite.png) no-repeat;
	background-position: -38px -28px;
}

.msj-error {
	margin-right: 40px;
    font-style: italic;
    color: $danger;
}

.search-afiliado-form {
	input {
		height: 25px;
    	padding: 5px;
	}
}


/*
 * ESTILOS DE IMPRESION
*/
@media print {

	@page {
	  size: A4 portrait;
	  margin-top: 1cm; 
	  margin-bottom: 1cm; 
	  margin-left: 0; 
	  margin-right: 0; 
	  orphans: 10;
	  widows: 10;
	  page-break-inside: auto;
	  page-break-before: auto;
	  page-break-after: auto;
	}

	@page:first {
	  	margin-top: 0cm; 
	  	margin-bottom: 1cm; 
	  }

	.no-print {
		display: none;
	}
	.no-screen {
		display: block!important;
	}

	header, footer, nav, aside {
		display: none;
	}

	.main {
		padding: 0!important;
		padding-bottom: 1cm;
	}

	.container {
		padding: 0!important;
	}

	.data-imprimir {
		display: block!important;
	}

	.wrapper-impresion {
		-webkit-print-color-adjust: exact;
		position:relative;
		//height: 100%;
		padding: 0 1cm 1cm;

		.afiliado_form {
			padding-top: 0cm!important;
		}
	}

	.header-imprimir {
		display: block;
		margin: 0;
    	position: absolute;
    	top: 0;
    	left: 0; 
    	height: 2cm;
    	width: 100%;
		
    	.image-header {
    		width: 100%;	
    		box-shadow: 0px 1px 10px #666;
    	}
		.titulo {
			position: absolute;
			right: 0;
			top: 0;
			text-align:right;
			font-size: 10pt;
			h1 {
				font-size: 12pt;
				font-weight: 700;
			}

			h3 {
				font-size: 9pt;
				font-weight: 700;
			}
		}

		.brand-name {
			position: absolute;
			left: 0;
			top: 0;
			margin: 0;
		    width: 35%;
		    text-transform: uppercase;
		    text-align: center;
		    color: #F2F2F2;
		    font-weight: 700;
		    line-height: 12pt;
		    font-size: 10pt;
		    color: #00acec;

		    img {
	    	    width: 5cm;
			    display: block;
			    margin-right: 5px;
		    }
		}
		
	}//.header-imprimir

	.form-section {
		margin-top: 0cm!important;
		margin-bottom: .2cm!important;
	}

	#afiliado_form {
		padding-top: 2.5cm!important;	
	}

	.row-form {		
		display: flex;
		display: -o-flex;
		display: -ms-flex;
		display: -moz-flex;
		display: -webkit-flex;
		-webkit-justify-content: space-between;
		-moz-justify-content: space-between;
		-ms-justify-content: space-between;
		-o-justify-content: space-between;
		justify-content: space-between;			
	}

	.rows-print {
		padding: .2cm .5cm;
		border: 1px solid #00acec;
	}

	.table-grupo-familiar {
		margin-bottom:0!important;
	}

	.footer-imprimir {
		display: block;
		border-top: none;
	    margin-top: 0!important;
	    color: #333;
	    padding: 0;
	    font-weight: 700;
	    font-size: 9pt;
	    //padding-bottom: 2cm!important;

	    p {
	    	font-size: 10pt;
	    }

	    ul {
	    	display: flex;
			display: -o-flex;
			display: -ms-flex;
			display: -moz-flex;
			display: -webkit-flex;
			-webkit-justify-content: space-between;
			-moz-justify-content: space-between;
			-ms-justify-content: space-between;
			-o-justify-content: space-between;
			justify-content: space-between;
			margin-top: 1.5cm;
			margin-bottom: .5cm;

			li {
				border-top: 1px solid #333;
				width: 250px;
				text-align: center;
			}
	    }

	    .legales-footer-imprimir {
	    	//position: fixed;
	    	bottom: 0cm;
	    	text-align: center;
	    	width: 100%;

	    }
	}//.footer-imprimir


}//media print

