.contacts-container {
	margin:50px auto;
}

.tabla-suscriptores {
	
	td {
		padding: 1%;
		vertical-align: middle;
	}
	thead{
		font-size: 110%;
		font-weight: bold;
		tr {
			border: 1px solid #666;
			background-color: #ccc;
		}
	}
	tbody{
		tr {
			border: 1px solid #666;
		}
	}
}

.del-user {
	cursor: pointer;
	&:hover {
		opacity: 0.7;
	}

	img {
		display: block;
		width: 80%;
		margin: 0 auto;
	}
}

