.wrapper-delegados {
    padding: 50px 0 60px;
}

.login-section {
    width: 100%;
    margin: 0 auto;
    padding: 20px 20px;
    
    @media (min-width: $mq-tablet) {
        margin: 0;
    }

    h1 {
        text-transform: uppercase;
        font-size: 250%;
    }
}

legend {
    color:#00acec;
    font-weight: bold;
}

.form-group {
    margin: 10px 0;
    label {
        height: 20px;
        margin: 5px auto;
        line-height: 30px;
        display: block;
    }
    input {
        height: 40px;
        margin: 5px auto;
        padding: 0 7px;
    }

    select {
        border: none;
        padding: 7px 5px;
        height: 40px;
        margin: 5px auto;
        font-size: 110%;
    }

    textarea {
        width: 100%;
        height: 100px;
    }

    input[type="submit"] {
        background: #00acec;
        color: #006a91;
        border: none;
        width: 120px;
    }
}

.error-tag {
    color:red;
}

/*
 * HOME DELEGADOS
*/

.header-delegados {
    display: flex;
    display: -o-flex;
    display: -ms-flex;
    display: -moz-flex;
    display: -webkit-flex;
    -webkit-align-items: flex-end;
    -moz-align-items: flex-end;
    -ms-align-items: flex-end;
    -o-align-items: flex-end;
    align-items: flex-end;
    -webkit-justify-content: flex-end;
    -moz-justify-content: flex-end;
    -ms-justify-content: flex-end;
    -o-justify-content: flex-end;
    justify-content: flex-end;
    padding: 20px 20px 40px;

    .usuario-wrapper {
        width: 50%;
        max-width: 350px;
        text-align: right;
        display: flex;
        display: -o-flex;
        display: -ms-flex;
        display: -moz-flex;
        display: -webkit-flex;
        -webkit-align-items: flex-end;
        -moz-align-items: flex-end;
        -ms-align-items: flex-end;
        -o-align-items: flex-end;
        align-items: flex-end;
        -webkit-justify-content: flex-end;
        -moz-justify-content: flex-end;
        -ms-justify-content: flex-end;
        -o-justify-content: flex-end;
        justify-content: flex-end;

        @media (max-width: $mq-mini) {
            -webkit-flex-direction: column-reverse;
            -moz-flex-direction: column-reverse;
            -ms-flex-direction: column-reverse;
            -o-flex-direction: column-reverse;
            flex-direction: column-reverse;
        }

        figure {
            width: 100px;
            height: 100px;
            border: 2px solid $celeste;
            overflow: hidden;
            position: relative;

            img {
                position: absolute;
                bottom: 0;
                left: 50%;
                transform: translateX(-50%);
                width: 100%;
                height: auto;
            }
        }

        .data-usuario {
            margin-right: 30px;
            color: #656263;

            @media (max-width: $mq-mini) {
                margin: 10px 0 0;
            }
            h2 {
                font-size: 200%;
                line-height: 150%;
                font-size: bold;
            }

            h4 {
                font-size: 130%;
                line-height: 100%;
                font-size: normal;
            }
        }
    }//.usuario-wrapper


}//.header-delegados

.inner-wrapper {
    -webkit-box-shadow: 0px 1px 30px #999;
    -moz-box-shadow: 0px 1px 30px #999;
    -ms-box-shadow: 0px 1px 30px #999;
    -o-box-shadow: 0px 1px 30px #999;
    box-shadow: 0px 1px 30px #999;

    @media (max-width: $mq-movil) {
        box-shadow: none;
    }

    .wrapper-menu-delegados {
        width: 100%;
        position: relative;
        display: flex;
        display: -o-flex;
        display: -ms-flex;
        display: -moz-flex;
        display: -webkit-flex;
        -webkit-align-items: center;
        -moz-align-items: center;
        -ms-align-items: center;
        -o-align-items: center;
        align-items: center;
        -webkit-justify-content: center;
        -moz-justify-content: center;
        -ms-justify-content: center;
        -o-justify-content: center;
        justify-content: center;
        -webkit-flex-wrap: wrap;
        -moz-flex-wrap: wrap;
        -ms-flex-wrap: wrap;
        -o-flex-wrap: wrap;
        flex-wrap: wrap;
        padding: 40px 0;

        @media (max-width: $mq-movil) {
            flex-wrap: wrap;
        }

        a {
            width: 33%;
            display: flex;
            display: -o-flex;
            display: -ms-flex;
            display: -moz-flex;
            display: -webkit-flex;
            -webkit-align-items: center;
            -moz-align-items: center;
            -ms-align-items: center;
            -o-align-items: center;
            align-items: center;
            -webkit-justify-content: center;
            -moz-justify-content: center;
            -ms-justify-content: center;
            -o-justify-content: center;
            justify-content: center;
            margin: 20px 0;

            @media (max-width: $mq-tablet) {
                margin: 20px 0;
                width: 100%;
            }

            &:hover {
                .item-menu-content {
                    figure {
                        img {
                            width: 140%;
                            -webkit-transition: all 0.2s;
                            -moz-transition: all 0.2s;
                            -ms-transition: all 0.2s;
                            -o-transition: all 0.2s;
                            transition: all 0.2s;
                        }
                    }
                }
            }
        }

        .item-menu-content {
            position: relative;
            display: flex;
            display: -o-flex;
            display: -ms-flex;
            display: -moz-flex;
            display: -webkit-flex;
            -webkit-align-items: center;
            -moz-align-items: center;
            -ms-align-items: center;
            -o-align-items: center;
            align-items: center;
            -webkit-justify-content: center;
            -moz-justify-content: center;
            -ms-justify-content: center;
            -o-justify-content: center;
            justify-content: center;
            width: 90%;
            height: 300px;
            background-color: #98989d;
            -webkit-box-shadow: 2px 2px 10px #333;
            -moz-box-shadow: 2px 2px 10px #333;
            -ms-box-shadow: 2px 2px 10px #333;
            -o-box-shadow: 2px 2px 10px #333;
            box-shadow: 2px 2px 10px #333;

            @media (max-width: $mq-pc) {
                height: 250px;
            }

            @media (max-width: $mq-movil) {
                height: 400px;
            }

            @media (max-width: $mq-mini) {
                height: 280px;
            }
            
            figure {
                position: absolute;
                height: 100%;
                width: 100%;
                overflow: hidden;
                z-index: 1;

                img {
                    position: absolute;
                    height: auto;
                    width: 120%;
                    top: 50%;
                    left: 50%;
                    -webkit-transform: translate3d(-50%,-50%,0);
                    -moz-transform: translate3d(-50%,-50%,0);
                    -ms-transform: translate3d(-50%,-50%,0);
                    -o-transform: translate3d(-50%,-50%,0);
                    transform: translate3d(-50%,-50%,0);
                    -webkit-transition: all 0.2s;
                    -moz-transition: all 0.2s;
                    -ms-transition: all 0.2s;
                    -o-transition: all 0.2s;
                    transition: all 0.2s;

                    @media (max-width: $mq-mini) {
                        width: 150%;
                    }
                }
            }

            .title-menu {
                padding: 20px;
                color: $blanco;
                font-size: 300%;
                text-transform: uppercase;
                text-align: center;
                line-height: 110%;
                font-weight: bold;
                position: relative;
                z-index: 11;

                @media (max-width: $mq-pc) {
                    font-size: 250%;
                }

                @media (max-width: $mq-mini) {
                    font-size: 200%;
                }
            }
        }//.item-menu-content
    }//.wrapper-menu-delegados


    .wrapper-videos-delegados {
        width: 100%;
        position: relative;
        display: flex;
        display: -o-flex;
        display: -ms-flex;
        display: -moz-flex;
        display: -webkit-flex;
        -webkit-justify-content: flex-start;
        -moz-justify-content: flex-start;
        -ms-justify-content: flex-start;
        -o-justify-content: flex-start;
        justify-content: flex-start;
        -webkit-flex-wrap: wrap;
        -moz-flex-wrap: wrap;
        -ms-flex-wrap: wrap;
        -o-flex-wrap: wrap;
        flex-wrap: wrap;
        padding: 40px 0;

        .video-wrapper {
            width: 30%;
            margin: 20px 1%;
            
            @media (max-width: $mq-movil) {
                width: 100%;
            }

            .video-protect {
                position: relative;

                iframe {
                    position: relative;
                    z-index: 1;
                }

                .shutter {
                    position: absolute;
                    z-index: 111;
                    width: 100%;
                    height: 100%;
                    top: 0;
                    left: 0;

                    @media (max-width: $mq-movil) {
                        display: none;
                    }
                }
            }
            .video-tittle {
                text-transform: uppercase;
                font-size: 120%;
                margin-top: 10px;
                margin-bottom: 10px;
                padding-right: 10px;
            }

            .video-text {
                padding-right: 10px;
                font-size: 90%;
            }

        }//.video-wrapper

        .video-wrapper-destacado {
            width: 100%;
            display: flex;
            display: -o-flex;
            display: -ms-flex;
            display: -moz-flex;
            display: -webkit-flex;
            -webkit-align-items: flex-start;
            -moz-align-items: flex-start;
            -ms-align-items: flex-start;
            -o-align-items: flex-start;
            align-items: flex-start;
            -webkit-justify-content: flex-start;
            -moz-justify-content: flex-start;
            -ms-justify-content: flex-start;
            -o-justify-content: flex-start;
            justify-content: flex-start;
            -webkit-flex-wrap: wrap;
            -moz-flex-wrap: wrap;
            -ms-flex-wrap: wrap;
            -o-flex-wrap: wrap;
            flex-wrap: wrap;
            padding-bottom: 30px;
            border-bottom: 2px solid $celeste;

            iframe {
                width: 60%;
                @media (max-width: $mq-movil) {
                    width: 100%;
                }
            }

            .video-text {
                width: 30%;
                margin-left: 20px;
                margin-bottom: 20px;
                font-size: 120%;

                @media (max-width: $mq-movil) {
                    width: 100%;
                }
            
                .video-tittle {
                    text-transform: uppercase;
                    margin-bottom: 20px;
                    font-size: 150%;
                    line-height: 110%;

                    @media (max-width: $mq-movil) {
                        font-size: 110%;
                    }
                }

                .date {
                    margin: 10px 0;
                    text-transform: uppercase;
                }
            }
        }//.video-wrapper-destacado

    }//wrapper-videos-delegados


    .title-material-difusion {
        background-color: $celeste;
        color: $blanco;
        text-transform: uppercase;
        font-weight: bold;
        padding: .5rem 0;
        font-size: 130%;

        @media (max-width: $mq-movil) {
            text-align: center;
        }
    }

    .material-difusion-wrapper {
        padding: 2rem 0;

        .material-difusion-categorias {
            display: flex;
            display: -o-flex;
            display: -ms-flex;
            display: -moz-flex;
            display: -webkit-flex;
            -webkit-align-items: flex-start;
            -moz-align-items: flex-start;
            -ms-align-items: flex-start;
            -o-align-items: flex-start;
            align-items: flex-start;
            -webkit-justify-content: center;
            -moz-justify-content: center;
            -ms-justify-content: center;
            -o-justify-content: center;
            justify-content: center;
            -webkit-flex-wrap: wrap;
            -moz-flex-wrap: wrap;
            -ms-flex-wrap: wrap;
            -o-flex-wrap: wrap;
            flex-wrap: wrap;

            li {
                margin: 2rem 2%;
                width: 40%;
                height: 250px;
                padding: 1rem;
                background-color: #d9dade;
                color: $celeste;
                text-transform: uppercase;
                font-size: 300%;
                line-height: 130%;
                font-weight: bold;
                text-align: center;
                -webkit-box-shadow: 0px 1px 30px #999;
                -moz-box-shadow: 0px 1px 30px #999;
                -ms-box-shadow: 0px 1px 30px #999;
                -o-box-shadow: 0px 1px 30px #999;
                box-shadow: 0px 1px 30px #999;
                display: flex;
                display: -o-flex;
                display: -ms-flex;
                display: -moz-flex;
                display: -webkit-flex;
                -webkit-align-items: center;
                -moz-align-items: center;
                -ms-align-items: center;
                -o-align-items: center;
                align-items: center;
                -webkit-justify-content: center;
                -moz-justify-content: center;
                -ms-justify-content: center;
                -o-justify-content: center;
                justify-content: center;

                @media (max-width: $mq-movil) {
                    width: 60%;
                    height: 300px;
                }

                @media (max-width: $mq-mini) {
                    width: 80%;
                    height: 250px;
                }
            }
        }

    }

}//.inner-wrapper