#activar {
    padding-top: 50px;
    @media (max-width: $mq-movil) {
        padding-top: 1px;
    }

    .wrapper-image-header {
        background-color: rgba(20,160,204,0.4);

        img {
            width: 100%;
            display: block;
            margin: 0 auto;
            box-shadow: 0px 0px 10px #666;
            @media (max-width: $mq-tablet) {
                width: 100%;
            }
        }

        .headliner {
            color: #149fcc;
            font-weight: bold;
            font-size: 200%;
            line-height: 120%;
            background-color: #fff;
            padding: 20px 5%;

            @media (max-width: $mq-tablet) {
                font-size: 120%;
                line-height: 110%;
            }
        }

        .title-wrapper  {
            padding: 20px 5px;

            h1 {
                color: $celeste;
                font-weight: bold;
                font-size: 200%;
                line-height: 120%;
                font-weight: bold;
                text-align: center;
            }
        }

    }//.wrapper-image-header

    .wrapper-activar {

        .wrapper-form {
            box-shadow: 0 -5px 30px #ccc;
            background-color: #fff;
            padding: 20px 0 0;
            color: #848484;
            .contenido-texto {
                line-height: 155%;
                font-size: 115%;
                padding: 30px 10% 10px;
                @media (max-width: $mq-tablet) {
                    padding: 0px 0 10px;
                }

                h2,h3,h4,h5,h6 {
                    color: #ef9700;
                }
                
                h2 {
                    font-weight: bold;
                    font-size: 250%;
                    line-height: 120%;
                    font-weight: bold;
                    margin: 20px 0;
                    @media (max-width: $mq-movil) {
                        font-size: 150%;
                    }
                }

                h3 {
                    font-size: 250%;
                    line-height: 120%;
                    margin: 20px 0;
                    @media (max-width: $mq-movil) {
                        font-size: 150%;
                    }
                }

                h4 {
                    font-size: 150%;
                    line-height: 120%;
                    margin: 15px 0;
                    font-weight: lighter;
                    @media (max-width: $mq-movil) {
                        font-size: 120%;
                    }
                }

                h5 {
                    font-size: 130%;
                    line-height: 120%;
                    margin: 10px 0;
                    font-weight: lighter;
                    @media (max-width: $mq-movil) {
                        font-size: 115%;
                    }
                }

                strong {
                    font-weight: bold;
                }
                em {
                    font-style: italic;
                }
                a {
                    text-decoration: underline;
                }

                p {
                    margin: 20px 0;
                }
            }

            form {
                margin-top: 50px;
                margin-bottom: 0;
                padding: 30px 0;
                background-color: #444644;

                label {
                    display: flex;
                    display: -o-flex;
                    display: -ms-flex;
                    display: -moz-flex;
                    display: -webkit-flex;
                    margin: 10px 0;

                    .label {
                        display: block;
                        margin-right: 15px;
                        font-size: 150%;
                        line-height: 150%;
                        color: #fff;
                        font-weight: lighter;
                    }

                    input, textarea {
                        display: block;
                        width: 100%;
                        background-color: transparent;
                        border: none;
                        padding: 5px;
                    }
                    
                    input {
                        border-bottom: 1px solid #fff;
                    }
                }

                .wrapper-submit {
                    margin: 40px 0 20px;
                    text-align: right;
                    button {
                        cursor: pointer;
                        border: none;
                        color: $blanco;
                        border: 1px solid #fff;
                        background-color: transparent;
                        text-align: center;
                        padding: 3px 15px;
                        text-transform: uppercase;
                        font-size: 130%;
                        line-height: 130%;

                        &:hover {
                            zoom: 1;
                            filter: alpha(opacity=70);
                            opacity: 0.7;
                        }
                    }
                }//wrapper-submit
            }

            .msj-exito, .msj-error{
                color: #fff;
            }
        }//.wrapper-form
    }//.wrapper-activar
}//#activar

