.header-menu-deportes {
    background-color: rgba(0, 172, 236, 0.5);
    position: absolute;
    width: 100%;
    left: 0;
    top: 50px;

    .menu-items-deportes {
        color: $blanco;
        position: relative;
        z-index: 11;
        .menu-item {
            font-weight: bold;
            .submenu {
                font-weight: normal;
                height: 0;
                overflow: hidden;
                position: absolute;
                top: 98%;
                right: 0%;
                transform: translateX(10%);
                width: 250%;
                background: #fff;
                display: block;
                font-size: 100%;
                line-height: 100%;
                padding: 0 25px;
                
                .submenu-item {
                    text-align: left;
                    border-bottom: 1px solid $celeste;
                    padding: 10px 15px;
                    text-transform: uppercase;
                    color: $celeste;

                    &:first-child {
                        margin-top: 20px;
                    }
                    &:last-child {
                        margin-bottom: 20px;
                    }

                    &:hover {
                        border-bottom: 1px solid $azul;
                        color: $azul;
                        font-weight: 600;
                    }
                }//.submenu-item
            }//.submenu



            &:hover {
                .submenu {
                    height: auto;
                    border: 2px solid $celeste;
                }
            }

            &:last-child {
                &:hover {
                    .submenu {
                        transform: initial;
                        width: max-content;
                    }
                }
            }
        }
    }
}

.menu-items-deportes {
    display: -o-flex;
    display: -ms-flex;
    display: -moz-flex;
    display: -webkit-flex;
    -webkit-align-items: center;
    -moz-align-items: center;
    -ms-align-items: center;
    -o-align-items: center;
    align-items: center;
    -webkit-justify-content: flex-end;
    -moz-justify-content: flex-end;
    -ms-justify-content: flex-end;
    -o-justify-content: flex-end;
    justify-content: flex-end;
    width: 100%;
    text-transform: uppercase;

    .menu-item {
        cursor: pointer;
        text-align: center;
        padding: 10px 15px;
        position: relative;
    }//.menu-item

}//.menu-items

.footer-menu-deportes {
    width: 80%;
    margin: 0 auto;
    display: none;

    @media (max-width: $mq-tablet) {
        display: block;
    }

    @media (max-width: $mq-movil) {
        width: 100%;
    }

    .submenu-acordion {
        font-size: 130%;
        line-height: 130%;
        a {
            display: block;
            text-transform: uppercase;
            padding: 5px 10px;

            &:hover {
                text-decoration: underline;
                color: $celeste;
            }
        }
    }
}//.footer-menu-deportes


/*
 * pagina deportes nueva
*/
.wrapper-page-deportes {
    padding: 90px 0 30px;
    @media (max-width: $mq-movil) {
        padding: 100px 0 40px;
    }

    .header-deportes {
        .header-menu-deportes {
            .nav-title {
                position: absolute;
                text-transform: uppercase;
                font-size: 150%;
                left: 15px;
                top: 50%;
                -webkit-transform: translateY(-50%);
                -moz-transform: translateY(-50%);
                -ms-transform: translateY(-50%);
                -o-transform: translateY(-50%);
                transform: translateY(-50%);
                font-weight: bold;
            }

            .nav-volver {
                display: none;
                @media (max-width: $mq-movil) {
                    display: block;
                    position: absolute;
                    text-transform: uppercase;
                    font-size: 100%;
                    right: 15px;
                    top: 50%;
                    -webkit-transform: translateY(-50%);
                    -moz-transform: translateY(-50%);
                    -ms-transform: translateY(-50%);
                    -o-transform: translateY(-50%);
                    transform: translateY(-50%);
                    &:before {
                        content: '<';
                    }
                }
                

            }

            .menu-items-deportes {
                @media (max-width: $mq-movil) {
                    display: none;
                }
            }
        }
    }//.header-deportes

    .footer-deportes {
        padding: 20px 0;

        .otros-nav-footer {
            display: none;
            @media (max-width: $mq-movil) {
                display: flex;
                display: -o-flex;
                display: -ms-flex;
                display: -moz-flex;
                display: -webkit-flex;
                -webkit-align-items: center;
                -moz-align-items: center;
                -ms-align-items: center;
                -o-align-items: center;
                align-items: center;
                -webkit-justify-content: space-between;
                -moz-justify-content: space-between;
                -ms-justify-content: space-between;
                -o-justify-content: space-between;
                justify-content: space-between;
                margin-bottom: 20px;
            }

            h2 {
                text-transform: uppercase;
                font-weight: bold;
                font-size: 150%;
            }

            a {
                text-transform: uppercase;

                &:before {
                    content: '<';
                }
            }
        }

        .footer-menu-deportes {
            display: none;
            @media (max-width: $mq-movil) {
                display: block;
            }
        }//.footer-menu-deportes
    }//.footer-deportes


    .deportes-main-wrapper {
        padding: 20px 0 20px;
        position: relative;
        min-height: 250px;
        .loader-ajax {
            position: absolute;
            top: 50%;
            left: 50%;
            -webkit-transform: translate3D(-50%,-50%,0);
            -moz-transform: translate3D(-50%,-50%,0);
            -ms-transform: translate3D(-50%,-50%,0);
            -o-transform: translate3D(-50%,-50%,0);
            transform: translate3D(-50%,-50%,0);

            img {
                width: 50px;
                height: 50px;
            }
        }

        .error-default {
            margin: 20px 0;
            text-align: center;
            font-size: 150%;
            line-height: 130%;
            padding: 40px 0;
        }

    }//.deportes-main-wrapper

}//wrapper-page-deportes

@keyframes expand {
    0% {
        height: 0;
        overflow: hidden;
    }
    100% {
        height: 100%;
        overflow: visible;
        opacity: 1;
    }
}

.animate-start {
    animation-name: expand;
    animation-duration: 2s;
    animation-fill-mode: forwards;
}
//contenido ajax
.deportes-inner-wrapper {
    
    .header-contenido {
        margin: 20px 0;

        .title-content {
            text-transform: uppercase;
            color: $celeste;
            font-size: 200%;
            line-height: 150%;
            margin-bottom: 0;
        }

        .selector-zona {
            border: none;
            background-color: transparent;
            outline: none;
            padding-left: 20px;
        }//.selector-zona
    }//.header-contenido

    

    .wrapper-zona {
        margin-bottom: 20px;
        .titulo-zona {
            color: $celeste;
            font-weight: bold;
            text-transform: uppercase;
            padding: 8px 5px;
        }//.titulo-zona

        .wrapper-equipos {
            margin-bottom: 20px;
            
        }// .wrapper-equipos
        
    }//.wrapper-zonas
    

}//.deportes-inner-wrapper

.tabla-datos {
    width: 100%;
    font-size: 100%;
    font-weight: normal;
    line-height: 120%;
    color: #666;
    font-weight: 300;

    td {
        padding: 10px 15px;
    }

    .td-center {
        text-align: center;
    }

    .td-right {
        text-align: right;
    }

    .head-td {
        font-weight: 400;
        text-transform: uppercase;
        font-weight: bold;
    }

    .td-main {
        width: 20%;
        min-width: 200px;
        max-width: 280px;
        font-size: 120%;
        line-height: 120%;

        @media (max-width: $mq-movil) {
            min-width: initial;
            width: auto;
        }
    }

    .td-no-movil {
        @media (max-width: $mq-mini) {
            display: none;
        }
    }
}

.tabla-datos-vertical {
    td {
        padding: 5px 15px;
    }
}

.title-section-data {
    color: #666;
    text-transform: uppercase;
    font-size: 120%;
    font-weight: 300;
    padding: 20px 10px;
}

.toggle-data {
    cursor: pointer;

    &:hover {
        zoom: 1;
        filter: alpha(opacity=70);
        opacity: 0.7;
      }
}

.closed {
    height: 0;
    overflow: hidden;
}

.opened {
    overflow: hidden;
}

.transition {
    transition: all 0.5s;
    -webkit-transition: all 0.5s;
    -moz-transition: all 0.5s;
    -ms-transition: all 0.5s;
    -o-transition: all 0.5s;
}

.tabla-posiciones {
    box-shadow: 0px 5px 10px #999;
    thead {
        border-bottom: 1px solid $celeste;
    }
}

//article individual de equipo que contine dentro las estadísticas
.equipo {
    margin: 20px 0;
    .header-equipo {
        background-color: $blanco;
        padding: 8px 10px;
        color: #333;
        font-weight: 300;
        text-transform: uppercase;
        font-size: 130%;
        line-height: 130%;
        cursor: pointer;
        box-shadow: 0px 5px 10px #999;

        &:hover {
            background-color: $gris;
        }

        hgroup {
            display: flex;
            display: -o-flex;
            display: -ms-flex;
            display: -moz-flex;
            display: -webkit-flex;
            -webkit-align-items: center;
            -moz-align-items: center;
            -ms-align-items: center;
            -o-align-items: center;
            align-items: center;
            -webkit-justify-content: space-between;
            -moz-justify-content: space-between;
            -ms-justify-content: space-between;
            -o-justify-content: space-between;
            justify-content: space-between;

            .logo-equipo {
                width: 25px;
                vertical-align: text-bottom;
                display: inline-block;
                margin-right: 5px;
            }

            h1 {
                font-weight: 400;
            }
        }
    }//.header-equipo


    .footer-article {
        margin-top: 25px;
        text-align: center;

        .collapse-article {
            cursor: pointer;
            display: inline-block;
            background: transparent;
            border: none;
            position: relative;
            width: 50px;
            height: 50px;
            
            .tog1 {
                position: absolute;
                top: 20px;
                left: 4px;
                transform: rotate(-45deg);
                opacity: 0.6;
                width: 25px;
            }
            .tog2 {
                position: absolute;
                top: 20px;
                left: initial;
                right: 3px;
                transform: rotate(45deg);
                opacity: 0.6;
                width: 25px;
            }

            &:hover {
                zoom: 1;
                filter: alpha(opacity=70);
                opacity: 0.7;
            }
        }
    }

    

    .section-equipo {
        margin-bottom: 20px;
        .data-equipo-wrapper {
            width: 100%;
            max-width: 360px;
            padding: 0 10px;
            color: #666;
            font-weight: 300;
        }
    }//.section-equipo

    .section-jugadores {
        width: 100%;
        padding: 0 20px 0 10px;
        color: #666;
        font-weight: 300;
        margin-bottom: 20px;

        .tabla-datos {
            thead {
                box-shadow: 0px 5px 10px #999;
            }

            tbody {
                tr:first-child {
                    td {
                        padding-top: 30px;
                    }
                }
            }
        }
    }//.section-jugadores
    
}//.equipo