.header-menu-deportes {
    background-color: rgba(0, 172, 236, 0.5);
    position: absolute;
    width: 100%;
    left: 0;
    top: 50px;

    .menu-items-deportes {
        color: $blanco;
        position: relative;
        .menu-item {
            font-weight: bold;
            .submenu {
                font-weight: normal;
                height: 0;
                overflow: hidden;
                position: absolute;
                top: 98%;
                right: 0%;
                transform: translateX(10%);
                width: 250%;
                background: #fff;
                display: block;
                font-size: 100%;
                line-height: 100%;
                padding: 0 25px;
                
                .submenu-item {
                    text-align: left;
                    border-bottom: 1px solid $celeste;
                    padding: 10px 15px;
                    text-transform: uppercase;
                    color: $celeste;

                    &:first-child {
                        margin-top: 20px;
                    }
                    &:last-child {
                        margin-bottom: 20px;
                    }

                    &:hover {
                        border-bottom: 1px solid $azul;
                        color: $azul;
                        font-weight: 600;
                    }
                }//.submenu-item
            }//.submenu



            &:hover {
                .submenu {
                    height: auto;
                    border: 2px solid $celeste;
                }
            }

            &:last-child {
                &:hover {
                    .submenu {
                        transform: initial;
                        width: max-content;
                    }
                }
            }
        }
    }
}

.menu-items-deportes {
    display: -o-flex;
    display: -ms-flex;
    display: -moz-flex;
    display: -webkit-flex;
    -webkit-align-items: center;
    -moz-align-items: center;
    -ms-align-items: center;
    -o-align-items: center;
    align-items: center;
    -webkit-justify-content: flex-end;
    -moz-justify-content: flex-end;
    -ms-justify-content: flex-end;
    -o-justify-content: flex-end;
    justify-content: flex-end;
    width: 100%;
    text-transform: uppercase;

    .menu-item {
        cursor: pointer;
        text-align: center;
        padding: 10px 15px;
        position: relative;
    }//.menu-item

}//.menu-items

.footer-menu-deportes {
    width: 80%;
    margin: 0 auto;
    display: none;

    @media (max-width: $mq-tablet) {
        display: block;
    }

    @media (max-width: $mq-movil) {
        width: 100%;
    }

    .submenu-acordion {
        font-size: 130%;
        line-height: 130%;
        a {
            display: block;
            text-transform: uppercase;
            padding: 5px 10px;

            &:hover {
                text-decoration: underline;
                color: $celeste;
            }
        }
    }
}//.footer-menu-deportes